<!DOCTYPE html>
<html lang="zxx">
<head>
  
    {% load static %}

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="{% static 'doctor/plugins/bootstrap/css/bootstrap.min.css' %}">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="{% static 'doctor/plugins/icofont/icofont.min.css' %}">
  <!-- Slick Slider  CSS -->
  <link rel="stylesheet" href="{% static 'doctor/plugins/slick-carousel/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static 'doctor/plugins/slick-carousel/slick/slick-theme.css' %}">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{% static 'doctor/css/style.css' %}">

</head>

<body id="top">

{% include 'header.html' %}
<br>
<main style="background-image:url({% static 'assets/images/fig.jpg' %}) ;margin-left: 10px;margin-right: 10px;
;box-shadow: -2px 0px 15px 0px rgb(24 24 24 / 20%);border-radius: 15px;" >
   
<div style="margin-right: 40px;margin-left: 40px;text-align: center;" >

<section class="section contact-info pb-0"  >
  <div class="container">
       <div class="row"  >

          <div class="col-lg-3 col-sm-6 col-md-12">
              
          </div>
          <div class="col-lg-3 col-sm-6 col-md-12">
              <div class="contact-block mb-9 mb-lg-0" style="border-radius: 15px;background: linear-gradient(rgb(0 0 0 / 25%), #000), url('https://images.unsplash.com/photo-1574717025058-2f8737d2e2b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHZpZGVvfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60');" >
                  <a href="{% url 'videos' %}" >  <i  style="color: #fff;" class="icofont-video"></i></a>
                      <a href="{% url 'videos' %}" >   <h5 style="color: #fff;" >Videos</h5></a>
          
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-md-12">
              <div class="contact-block mb-9 mb-lg-0" style="border-radius: 15px;background: linear-gradient(rgb(0 0 0 / 25%), #000), url('https://images.unsplash.com/photo-1605270854320-07767ebafa10?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHBob3RvfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60');" >
                  <a href="{% url 'videos' %}" >   <i style="color: #fff;" class="icofont-newspaper"></i></a>
                      <a href="{% url 'videos' %}" >   <h5 style="color: #fff;" >Newspaper</h5></a>
                   
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-md-12">
              
          </div>
          
          
      </div>
  </div>
</section>


<section class="section contact-info pb-0"  >
  <div class="container">
       <div class="row"  >

          <div class="col-lg-3 col-sm-6 col-md-12">
              
          </div>
          <div class="col-lg-3 col-sm-6 col-md-12">
              <div class="contact-block mb-9 mb-lg-0" style="border-radius: 15px;background: linear-gradient(rgb(0 0 0 / 25%), #000), url('https://images.unsplash.com/photo-1473186505569-9c61870c11f9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGJsb2dzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60');" >
                <a href="{% url 'blogs' %}" ><i style="color: #fff;" class="icofont-link"></i></a> 
                <a href="{% url 'blogs' %}" ></a>  <h5 style="color: #fff;"  >Website Links</h5></a> 
                   
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-md-12">
              <div class="contact-block mb-9 mb-lg-0" style="border-radius: 15px;background: linear-gradient(rgb(0 0 0 / 25%), #000), url('https://images.unsplash.com/photo-1520444451380-ebe0f7b9cfd5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGF1ZGlvfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60');" >
                  <a href="{% url 'audios' %}" >  <i style="color: #fff;" class="icofont-paper"></i></a>
                      <a href="{% url 'audios' %}" >  <h5 style="color: #fff;" >Pdf'S</h5></a>
              
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-md-12">
              
          </div>
          
          
      </div>
  </div>
</section>
    
 
    <br><br>
</div>
    
      

   
    
  
</div>




  </div>

    </main>





   

    <!-- 
    Essential Scripts
    =====================================-->

    
    <!-- Main jQuery -->
    <script src="{% static 'doctor/plugins/jquery/jquery.js' %}"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="{% static 'doctor/plugins/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'doctor/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'doctor/plugins/counterup/jquery.easing.js' %}"></script>
    <!-- Slick Slider -->
    <script src="{% static 'doctor/plugins/slick-carousel/slick/slick.min.js' %}"></script>
    <!-- Counterup -->
    <script src="{% static 'doctor/plugins/counterup/jquery.waypoints.min.js' %}"></script>
    
    <script src="{% static 'doctor/plugins/shuffle/shuffle.min.js' %}"></script>
    <script src="{% static 'doctor/plugins/counterup/jquery.counterup.min.js' %}"></script>
    <!-- Google Map -->
    <script src="{% static 'doctor/plugins/google-map/map.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>    
    
    <script src="{% static 'doctor/js/script.js' %}"></script>
    <script src="{% static 'doctor/js/contact.js' %}"></script>

  </body>
  </html>
   
  {% include 'footer.html' %}