<!DOCTYPE html>
<html lang="zxx">
<head>
  
    {% load static %}

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="{% static 'doctor/plugins/bootstrap/css/bootstrap.min.css' %}">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="{% static 'doctor/plugins/icofont/icofont.min.css' %}">
  <!-- Slick Slider  CSS -->
  <link rel="stylesheet" href="{% static 'doctor/plugins/slick-carousel/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static 'doctor/plugins/slick-carousel/slick/slick-theme.css' %}">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{% static 'doctor/css/style.css' %}">

</head>

<body id="top">

{% include 'header.html' %}

<section class="page-title bg-1" style="background: linear-gradient(rgb(0 0 0 / 25%), #000), url({% static 'assets/images/zzz.jpg' %});height: 395px; > 
  <div class="overlay" >
 <div class="" >
   <div class="row">
     <div class="col-md-12">
       <div class="block text-center">
         <span class="text-white" style="text-align: center" >
         <h1 class="text-capitalize mb-5 text-lg" style="margin-top: 30px;color: #fff;font-size: 50px;font-family: sans-serif;font-weight: 900;text-shadow: 2px 2px 3px black">Workshop</h1>
         <span class="text-white"><a href="{% url 'home' %}">Home</a> / <a href="{% url 'workshop' %}">Workshop</a> </span>
          </span>
         <!-- <ul class="list-inline breadcumb-nav">
           <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
           <li class="list-inline-item"><span class="text-white">/</span></li>
           <li class="list-inline-item"><a href="#" class="text-white-50">About Us</a></li>
         </ul> -->
       </div>
     </div>
   </div>
 </div>
</section>
  
  
  
  <section class="section department-single">
      <div class="container">
    
          <div class="row" style="padding-left: 100px;padding-right: 100px;" >
              <div class="col-lg-12">
                  <div class="department-content mt-5">
                      <h3 class="text-md">Project Management Unit, <br>
                        Mohanpura Kundaliya Project,<br> Rajgarh
                        </h3>
                      <div class="divider my-4"></div>
                      <p class="lead" style="color: black;" >Workshop of field level functionaries of Mohanpura- Kundaliya project on Traditional and New Media.</p>
                      <p style="color: black;" >A two days workshop of field level functionaries including the FRO, FRM, and Team leaders of the Mohanpura- Kundaliya project, was organized on 22nd and 23rd February 2022 at Mohanpura RBC Pump House. Forty FROs/FRMs from the Mohanpura-Kundaliya project participated in the workshop. Resource Persons from Aksharika, Bhopal including Ms. Seema Kurup, Mr. Sachin Shrivastava, Mr. Dharmendra, and Mr. Anshul Saxena joined the workshop.<br>

                        In the Introductory round, the participants introduced themselves, expressed their expectations from the workshop, and mentioned that they like to learn about media and communication, and how to use media and communication for the success of the project. <br>
                         
                        After the Introductory session, the following technical sessions were organized during the two days workshop:-<br>
                         
                        In the session on Observation, Resource Person (RP) Shri Sachin Shrivastava mentioned different that people could have different observations for any single thing.  It depends on how someone is viewing/understanding the things. There is a need to show the holistic picture of the project to the farmers, to make them realize that the project has positively impacted the lives of the farmers in Mohanpura, and has improved their economic as well as social status. He explained the different forms of observations, including controlled, participatory and natural observation.  <br>
                        
                        In the session on Communication-Why, with whom and, for whom?  Resource Person Ms. Seema explained that the target audience of the  communication material of the Mohanpura and Kundaliya project will be the farmers, stakeholders and the policymakers. She informed that in December 2021 the Communication unit of the PMU was established. In January 2022 the Media and Communication Strategy was prepared. In February, 2022 the FRO workshop and the website was targeted. She further informed that an international seminar is planned to be organised in June 2023 in Rajgarh, where the farmers or the FROs can share their stories.<br>
                         
                         
                        In the session on Traditional Media, the Resource Person Shri Sachin and Dharmendra explained the importance of media, various forms of media available in the society, including popular TV, newspaper, radio, social media (Face book, Whatsapp, YouTube, etc.) They emphasized that the stories should be authenticated by providing supporting data or facts with it, and suggested to refrain from sharing unauthenticated stories. The stories could be the stories of change itself, or the stories of the process.<br>
                         
                        In the session, the participants were asked to form groups and make group presentations on the changes in the life of farmers after the implementation of the Mohanpura project. The participants presented the following major points:-<br>
                        </p>
  
  
                      <h5 class="mt-5 mb-4">The participants presented the following major points:-</h5>
                      <div class="divider my-4"></div>
                      <ul class="list-unstyled department-service">
                          <li style="color: black;"  ><i  class="icofont-check mr-2"></i>The yield of farms rapidly increased after the implementation of the project.</li>
                          <li style="color: black;"   ><i class="icofont-check mr-2"></i>The project has changed the lifestyle of the farmers. After the implementation of the Mohanpura project, farmers are yielding high production.</li>
                          <li style="color: black;"  ><i class="icofont-check mr-2"></i>The project has impacted and improved the social and economical status of the farmers.</li>
                          <li style="color: black;"  ><i class="icofont-check mr-2"></i>This has led to improvement of their health, decrease in migration of people, decrease in disputes (as everyone is getting a good yield from their farms). </li>
                          <li style="color: black;"  ><i class="icofont-check mr-2"></i>This has further resulted in the improvisation of the cattle breeds, road connectivity, etc., and many more.  </li>
                          <li style="color: black;"  ><i class="icofont-check mr-2"></i>Now, because of the availability of sufficient water, farmers are opting for commercial crops instead of traditional crops. </li>
                          <li style="color: black;"  ><i class="icofont-check mr-2"></i>Farmers are now utilizing 100 percent of their land</li>
                          <li style="color: black;"  ><i class="icofont-check mr-2"></i>The status of farmers is now shifted from kuccha (mud) house to pucca (cemented) house, with no water for irrigation to adequate water for irrigation.</li>
                         
                      </ul>

                      <p style="color: black;" >
                        The FROs suggested using Newspapers, websites, YouTube, Face book and Whatsapp for the communication and, for sharing of success stories to the farmers. <br>
 
In the last session of the day, Shri Vikas Rajoria Project Head, Mohanpura Project shared about the project, and how it has benefitted the mass population of the area. He explained that the FROs need to be prepared with the answers to the farmer's questions, and has to show the advantages and the benefits of the project. He said that showing the larger picture and the success of the (implemented) Mohanpura project, could help in convincing the farmers for the sprinkler system.<br>

He mentioned that the average rainfall in Rajgarh district is not very less, but still, the water level of the district is very low. It’s because of the less preservation of water. He further mentioned that with the Water use efficiency techniques, 150 thousand farmers are getting water in their farms whereas earlier only 60 thousand were able to use the same quantity of water. Mohanpura Kundaliya project is providing assured irrigation to the farmers. He said that with the project, farmers could cut the cost of procuring private DPs, electricity, etc. With the automated technology of the project, farmers need not visit and monitor the farm. <br>

He emphasized the issue of gender equality and assured that women FROs/field level functionaries will be involved in the project.<br>

The day ended with an assignment to the participants on making a video on the various aspects of the project.<br>
 
Day two started with the recap of the last day, where the participants shared their learning from the sessions of the first day. The participants agreed that there is a dire need to disseminate the success stories of the project at the state, national as well as international levels. The participants accepted that the National and International conferences will be very beneficial in showcasing the success of the project at those level.<br>
 
  
Videos prepared by the participants as the assignment were shown and feedbacks from the other participants were collected. This exercise, and the suggestions and feedback from the resource person helped the participants in learning about documenting better videos. <br>
 
A role play on FROs visiting the villages, and the Senior Officers visiting the villages were organized. The Presenters demonstrated how to answer the questions of the villagers and how to tackle the negative situation. The participants agreed that stories in the form of videos could be very useful for the FROs during interaction with the villagers. It was further agreed that the involvement of the Sarpanch and Panchayat Secretary could ease the process of interaction with the villagers.<br>
 
 
Session on New media, social media, blog, and the technology was delivered by Shri Sachin. During the discussion, it was shared by the participants that social media including Whatsapp and YouTube could play a larger role in spreading awareness about the project. It was mentioned that the stories should be based on facts and data. The resource person mentioned that the Facebook page and the website of the Mohanpura Kundaliya project will be published very soon. The website will have the feature of video embedding. The FROs and the villagers can log-in and submit the stories on the website. The participants suggested that the website should be in dual language (Hindi and English).<br> 
 
 
Session on the role and expectation from the PMU Communication team was delivered by Ms. Seema and Shri Dharmendra. The role of the team members were explained to the participants and the participants were asked to contact the team members for any support in documenting the success stories. It was further mentioned that a draft of the FAQ (Frequently asked questions) along with their possible answer will be prepared by the communication team. In addition, a media desk will be established in the office of the Rajgarh PMU. The communication team will help the FROs in creating, designing, and finalizing the success stories.  <br>

It was emphasized to always remember the target audience for these success stories, i.e. the farmers, and the policymakers. Also, the main task of the FROs should be to organize the community people and to provide issues and stories to the media. <br>
 
 
The session on Water User Association was delivered by Shri Milind of SaiSanket. He explained the procedure of formation of Water user associations, their roles, and responsibilities. He further mentioned that the yield of the farms is improved by four times after the implementation of the Mohanpura project.<br>
 
 
An interactive session on Our Story was delivered by Shri Sachin and Shri Dharmendra. The participants were grouped into 10 groups. The 10 groups prepared presentation in the form of picture/write-ups and presented among the other participants. Resource person shared techniques for improving  video stories, like the cameras should be kept still, questions should be prepared and rehearsed much before the interviews, more time to be given to the respondent while interviewing, and open-ended questions should be preferred while interviewing the farmers. <br>
 
                      




                                                                                      
Lastly, the way forward from the learning of the workshop was discussed. The participants shared that they learned about the importance of communication, use of data and authenticity,  and techniques for making good stories. 
                        </p>


                        <h5 class="mt-5 mb-4">During the discussion, the participants agreed to the following:-</h5>
                        <div class="divider my-4"></div>
                        <ul class="list-unstyled department-service">
                            <li style="color: black;"  ><i  class="icofont-check mr-2"></i>Each FRO/FRM will submit one text story every week for the website. The story should contain the heading, picture, and text story.</li>
                            <li style="color: black;"   ><i class="icofont-check mr-2"></i>	Each FRO/FRM will submit one video story per week for YouTube. The story should contain the heading, brief about the video and the video.</li>
                            <li style="color: black;"  ><i class="icofont-check mr-2"></i>	Each FRO/FRM will submit one photograph per day for Facebook. </li>
    
                           
                        </ul>

                        <p style="color: black;" >In addition, the participants requested to have a (5-8 days) long intensive workshop on making stories (video/text) in the coming months. <br>

                            The workshop ended with a commitment by the FROs/FRMs to strengthen the communication system by creating good success stories of the project.<br>
                             
                            
                            </p>
  

                  </div>
              </div>
  
              
          </div>
      </div>
  </section>


   
{% include 'footer.html' %}
    <!-- 
    Essential Scripts
    =====================================-->

    
    <!-- Main jQuery -->
    <script src="{% static 'doctor/plugins/jquery/jquery.js' %}"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="{% static 'doctor/plugins/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'doctor/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'doctor/plugins/counterup/jquery.easing.js' %}"></script>
    <!-- Slick Slider -->
    <script src="{% static 'doctor/plugins/slick-carousel/slick/slick.min.js' %}"></script>
    <!-- Counterup -->
    <script src="{% static 'doctor/plugins/counterup/jquery.waypoints.min.js' %}"></script>
    
    <script src="{% static 'doctor/plugins/shuffle/shuffle.min.js' %}"></script>
    <script src="{% static 'doctor/plugins/counterup/jquery.counterup.min.js' %}"></script>
    <!-- Google Map -->
    <script src="{% static 'doctor/plugins/google-map/map.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>    
    
    <script src="{% static 'doctor/js/script.js' %}"></script>
    <script src="{% static 'doctor/js/contact.js' %}"></script>

  </body>
  </html>
   