<!DOCTYPE html>
<html lang="en">
  <head>
    
    {% load static %}


    <link rel="stylesheet" href="{% static 'audioo/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'audioo/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'audioo/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'audioo/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'audioo/css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">


    <link rel="stylesheet" href="{% static 'audioo/css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'audioo/css/style.css' %}">
    
  </head>
  <body>
{% include 'header.html' %} 

<div class="background-text bg_light">
        
  <div class="background-text__content"  >
    
      
  <h1 class="block block--large highlight-header" style="padding-left: 25%;font-size: 60px;" ><span class="highlight-header" style="color: #252B3A;" >AUDIOS</span></h1>

</div>
</div>


    <div class="site-section bg-light">
      <div class="container">
        

        
        
        <div class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up" style="border-radius: 15px;" >
          <div class="image">
            <img style="border-radius: 15px;" src="{% static 'audioo/images/img_5.jpg' %}">
          </div>
          <div class="text" style="margin-top: -60px;" >

            <h3 class="font-weight-light"><a style="font-size: 25px;color: #000000;" href="single-post.html">Episode 08: How To Create Web Page Using Bootstrap 4</a></h3>
            <div class="text-white mb-3"><span class="text-black-opacity-05"><small>By Mike Smith <span class="sep">/</span> 16 September 2017 <span class="sep">/</span> 1:30:20</small></span></div>
            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti repellat mollitia consequatur, optio nesciunt placeat. Iste voluptates excepturi tenetur, nesciunt.</p>

            <div class="player">
              <audio id="player2" preload="none" controls style="max-width: 100%">
                <source src="http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3" type="audio/mp3">
              </audio>
            </div>

          </div>
        </div>

        <div class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up" style="border-radius: 15px;" >
          <div class="image">
            <img style="border-radius: 15px;" src="{% static 'audioo/images/img_5.jpg' %}">
          </div>
          <div class="text" style="margin-top: -60px;" >

            <h3 class="font-weight-light"><a style="font-size: 25px;color: #000000;" href="single-post.html">Episode 08: How To Create Web Page Using Bootstrap 4</a></h3>
            <div class="text-white mb-3"><span class="text-black-opacity-05"><small>By Mike Smith <span class="sep">/</span> 16 September 2017 <span class="sep">/</span> 1:30:20</small></span></div>
            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti repellat mollitia consequatur, optio nesciunt placeat. Iste voluptates excepturi tenetur, nesciunt.</p>

            <div class="player">
              <audio id="player2" preload="none" controls style="max-width: 100%">
                <source src="http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3" type="audio/mp3">
              </audio>
            </div>

          </div>
        </div>


        <div class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up" style="border-radius: 15px;" >
          <div class="image">
            <img style="border-radius: 15px;" src="{% static 'audioo/images/img_5.jpg' %}">
          </div>
          <div class="text" style="margin-top: -60px;" >

            <h3 class="font-weight-light"><a style="font-size: 25px;color: #000000;" href="single-post.html">Episode 08: How To Create Web Page Using Bootstrap 4</a></h3>
            <div class="text-white mb-3"><span class="text-black-opacity-05"><small>By Mike Smith <span class="sep">/</span> 16 September 2017 <span class="sep">/</span> 1:30:20</small></span></div>
            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti repellat mollitia consequatur, optio nesciunt placeat. Iste voluptates excepturi tenetur, nesciunt.</p>

            <div class="player">
              <audio id="player2" preload="none" controls style="max-width: 100%">
                <source src="http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3" type="audio/mp3">
              </audio>
            </div>

          </div>
        </div>


        <div class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up" style="border-radius: 15px;" >
          <div class="image">
            <img style="border-radius: 15px;" src="{% static 'audioo/images/img_5.jpg' %}">
          </div>
          <div class="text" style="margin-top: -60px;" >

            <h3 class="font-weight-light"><a style="font-size: 25px;color: #000000;" href="single-post.html">Episode 08: How To Create Web Page Using Bootstrap 4</a></h3>
            <div class="text-white mb-3"><span class="text-black-opacity-05"><small>By Mike Smith <span class="sep">/</span> 16 September 2017 <span class="sep">/</span> 1:30:20</small></span></div>
            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti repellat mollitia consequatur, optio nesciunt placeat. Iste voluptates excepturi tenetur, nesciunt.</p>

            <div class="player">
              <audio id="player2" preload="none" controls style="max-width: 100%">
                <source src="http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3" type="audio/mp3">
              </audio>
            </div>

          </div>
        </div>


        <div class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up" style="border-radius: 15px;" >
          <div class="image">
            <img style="border-radius: 15px;" src="{% static 'audioo/images/img_5.jpg' %}">
          </div>
          <div class="text" style="margin-top: -60px;" >

            <h3 class="font-weight-light"><a style="font-size: 25px;color: #000000;" href="single-post.html">Episode 08: How To Create Web Page Using Bootstrap 4</a></h3>
            <div class="text-white mb-3"><span class="text-black-opacity-05"><small>By Mike Smith <span class="sep">/</span> 16 September 2017 <span class="sep">/</span> 1:30:20</small></span></div>
            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti repellat mollitia consequatur, optio nesciunt placeat. Iste voluptates excepturi tenetur, nesciunt.</p>

            <div class="player">
              <audio id="player2" preload="none" controls style="max-width: 100%">
                <source src="http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3" type="audio/mp3">
              </audio>
            </div>

          </div>
        </div>


      </div>
      {% include 'footer.html' %}


  <script src="{% static 'audioo/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'audioo/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'audioo/js/jquery-ui.js' %}"></script>
  <script src="{% static 'audioo/js/popper.min.js' %}"></script>
  <script src="{% static 'audioo/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'audioo/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'audioo/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'audioo/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'audioo/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'audioo/js/aos.js' %}"></script>

  <script src="{% static 'audioo/js/mediaelement-and-player.min.js' %}"></script>

  <script>
      document.addEventListener('DOMContentLoaded', function() {
                var mediaElements = document.querySelectorAll('video, audio'), total = mediaElements.length;

                for (var i = 0; i < total; i++) {
                    new MediaElementPlayer(mediaElements[i], {
                        pluginPath: 'https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/',
                        shimScriptAccess: 'always',
                        success: function () {
                            var target = document.body.querySelectorAll('.player'), targetTotal = target.length;
                            for (var j = 0; j < targetTotal; j++) {
                                target[j].style.visibility = 'visible';
                            }
                  }
                });
                }
            });
    </script>


  <script src="{% static 'audioo/js//main.js' %}"></script>
    
  </body>
</html>