
{% include 'header.html' %}
{% load static %}
  


<div class="site-notice" style="background-image: linear-gradient(to right, rgba(82,82,134), rgba(114,183,178));display: flex;justify-content: center;align-items: center;" >
  <h2 class="h4 site-notice__headline" style="color: #fff;text-shadow: 2px 2px 3px black;padding-left:20px;flex: 0.5;">
    New Report
  </h2>

  <marquee style="flex:3;color: #fff;font-size: 16px;" direction="left" scrollamount="12" >
    This is sample scrolling text.This is sample scrolling text.This is sample scrolling text.This is sample scrolling text.This is sample scrolling text.This is sample scrolling text.This is sample scrolling text.
    </marquee>

  <div class="site-notice__buttons" >
<div class="block button-block ">
  <a class="button button--slim button--secondary" style="border-radius: 25px;width: 220px;
  height: 50px;color:#fff;padding-left: 20px;background: linear-gradient(90.97deg, #FF6617 -5.37%, #FFB50B 103.01%);;border: 1px solid rgb(248, 248, 248);" href="">
    EXPLORE MORE
    <svg class="icon" style="color: #fff;" >
      <use href="#arrow-right"/>
    </svg>
  </a>
</div>
  </div>
</div>
{% include 'sliders.html' %}


      
  

    
    


    
   
     
      

