
{% include 'header.html' %}
{% load static %}
  


<div class="site-notice" style="background-image: linear-gradient(to right, rgba(82,82,134), rgba(114,183,178));" >
  <h2 class="h4 site-notice__headline" style="color: #fff;text-shadow: 2px 2px 3px black;padding-left:20px">
    New Report
  </h2>

  <div class="site-notice__content" >
    <p style="font-size: 21px;text-align: center;color:#fff"  ></p>
  </div>

  <div class="site-notice__buttons">
    
      


<div class="block button-block "  >
  <a class="button button--slim button--secondary" style="border-radius: 25px;width: 220px;
  height: 50px;color:#fff;padding-left: 20px;background: linear-gradient(90.97deg, #FF6617 -5.37%, #FFB50B 103.01%);;border: 1px solid rgb(248, 248, 248);" href="">
    EXPLORE MORE
    <svg class="icon" style="color: #fff;" >
      <use href="#arrow-right"/>
    </svg>
  </a>
</div>


    
  </div>
</div>


  {% include 'main_slider.html' %}
 

  <div class="background-text bg_light"  >
    <div class="background-text__text" aria-hidden="true" style="padding-left: 35%;" >
      OUR
    </div>
  
    <div class="background-text__content"  >
      
        
    <h1 class="block block--large highlight-header" style="padding-left: 32%;font-size: 60px;margin-top:-20px" ><span class="highlight-header__underline" style="color: #252B3A;" >IMPACT</span></h1>
  
  
    
      </div>

      
  

    
      <div class="block block--largest power_squares_block" style="padding-left: 35px;padding-right: 20px;" >

<div class="power_square" style="width: 420px;" >
    <a href=""  >
        <div class="power-square__image" >
            
                <img  src="{% static 'landcoalition/images/c1.jpg' %}" style="border-radius: 15px 15px 0px 0px ;width:390px;height: 390px;" >
            
            <h2 style="font-size:25px;font-weight: 600;" >  Villages <br><br><br> </h2>
            <h2 style="font-size: 40px;font-weight: 400px;" >3.50+</h2>
          
                <div  class="tooltip">
                    <div class="tooltip-toggle"  >
                        
                        <svg class="icon close-icon">
                            <use href="#close"/>
                        </svg>
                    </div>
                    <div class="tooltip_text"><p >64 percent of the overall population formerly made their living in neighboring states.</p>
                    </div>
                </div>
            
        </div>
    </a>

    <div class="power-square__content" style="border-radius: 0px 0px 15px 15px  ;box-shadow: -2px 0px 15px 0px rgb(24 24 24 / 20%);" >
        <p class="subtitle" style="text-align: left;" >64 percent of the overall population formerly made their living in neighboring states.</p>

        
        
            <a class="button button--cta" style="border-radius: 25px;color: #fff;background-color: #5B6D92;" href="">
                Read More
                <svg class="icon" style="color: #fff;" >
                    <use href="#arrow-right"/>
                </svg>
            </a>
            <br><br>
        
    </div>
</div>



<div class="power_square" style="width: 420px;" >
    <a href="">
      <div class="power-square__image" >
            
        <img alt="Michael Benanav_ILC-6-1.jpg" height="400" src="{% static 'landcoalition/images/c2.jpg' %}" style="border-radius: 15px 15px 0px 0px ;width:390px;height: 390px;" >
    
    <h2 style="font-size:25px;" >  Pipline <br><br><br> </h2>
    <h2 style="font-size: 40px;" >8000+</h2>
  
        <div  class="tooltip">
            <div class="tooltip-toggle"  >
                
                <svg class="icon close-icon">
                    <use href="#close"/>
                </svg>
            </div>
            <div class="tooltip_text"><p>ILC is who are members are, bringing together diverse organisations -  from intergovernmental and non-governmental. </p>
            </div>
        </div>
    
</div>
    </a>

    <div class="power-square__content" style="border-radius: 0px 0px 15px 15px  ;box-shadow: -2px 0px 15px 0px rgb(24 24 24 / 20%);" >
      <p class="subtitle" style="text-align: left;" >Since the irrigation project's start, 75,219 households in the Kalipeeth area have benefited directly.</p>

      
      
          <a class="button button--cta" style="border-radius: 25px;color: #fff;background-color: #5B6D92;" href="">
              Read More
              <svg class="icon" style="color: #fff;" >
                  <use href="#arrow-right"/>
              </svg>
          </a>
          <br><br>
      
  </div>
</div>



<div class="power_square" style="width: 420px;" >
    <a href="">
      <div class="power-square__image" >
            
        <img alt="Michael Benanav_ILC-6-1.jpg" height="400" src="{% static 'landcoalition/images/c4.jpg' %}" style="border-radius: 15px 15px 0px 0px ;width:390px;height: 390px;" >
    
    <h2 style="font-size:25px;" > Storage <br><br><br> </h2>
    <h2 style="font-size: 40px;" >1203+</h2>
  
        <div  class="tooltip">
            <div class="tooltip-toggle"  >
                
                <svg class="icon close-icon">
                    <use href="#close"/>
                </svg>
            </div>
            <div class="tooltip_text"><p>ILC is who are members are, bringing together diverse organisations -  from intergovernmental and non-governmental organisations, research centres and academic institutions, constituency-based organisations and social movements.</p><p>ILC’s Members appreciate and capitalise upon ILC’s diversity of and work together as a coalition of equals.</p>
            </div>
        </div>
    
</div>
    </a>

    <div class="power-square__content" style="border-radius: 0px 0px 15px 15px  ;box-shadow: -2px 0px 15px 0px rgb(24 24 24 / 20%);" >
      <p class="subtitle" style="text-align: left;" > The overall production of the Mohanpura-Kundalia Irrigation Project In 2021, reached 3.90 lakh metric tonnes.</p>

      
      
          <a class="button button--cta" style="border-radius: 25px;color: #fff;background-color: #5B6D92;" href="">
              Read More
              <svg class="icon" style="color: #fff;" >
                  <use href="#arrow-right"/>
              </svg>
          </a>
          <br><br>
      
  </div>
</div>

</div>


<div class="background-text bg_light" >
  <div class="background-text__text" aria-hidden="true" style="padding-left: 30%;" >
    About
  </div>

  <div class="background-text__content"  >
    
      
  <h1 class="block block--large highlight-header" style="padding-left: 32%;font-size: 60px;line-height:1;" ><span class="highlight-header__underline" style="color: #252B3A;" >The Project</span></h1>


  <div class="row multiple">



    
        
      </div>
    </div>
    
    
    <main style="background-color: transparent;margin-left: 40px;margin-right: 40px;
    ;box-shadow: -2px 0px 15px 0px rgb(24 24 24 / 20%);border-radius: 15px;" >
        <br><br>
          
  
    <div style="margin-right: 40px;margin-left: 40px;text-align: center;" >
      <p>The Mohanpura and Kundalia Irrigation Projects are the first and biggest SCADA-enabled Automated Pressurized Irrigation Network (PIN) projects in India that supply water to agricultural fields. They now encompass 96,000 hectares over seven sub-project regions. We are located in the Indian state of Madhya Pradesh's Rajgarh District and started in 2018. Out of the 14.50 lakh residents of Mohanpura and Kundalia, 3.50 lakh are farmers who benefit from the irrigation project. <br>

        This project would provide irrigation water for agriculture on 58,000 hectares of land in Mohanpura and 20,000 hectares of land in Kundalia. Mohanpura's total number of benefitted villages is 776, whereas Kundalia's total number of helped villages is 419. <br>
        
       
        </p>
    </div>
        
          
    
    
     
    
        
          <div class="commitments-block block block--largest commitments-block--light" style="padding-left: 90px;" >
            <div style="position: relative;" >
            <div class="" style="background-color: transparent;padding-top: 20px;" >
            <a href="{% url 'about' %}"> <img style="width: 220px;height:220px;border-radius: 25px;"  src="https://images.unsplash.com/photo-1586363044134-999daa59bfb7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8ZGFtfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" ></a> 
            <a href="{% url 'about' %}"> <p class="commitment__name" style="margin-top:-40px;text-align: center;color: #fff;font-weight: 600;" >ABOUT TEAM</p></a> 
              </div>
             </div>
             
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <div class="commitmet" style="background-color: transparent;padding-top: 20px;"  >
              <img  style="width: 220px;height:220px;border-radius: 25px;"  src="https://images.unsplash.com/photo-1620901433789-1d2f85a93653?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8ZmFybWVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" >
              <p class="commitment__name" style="margin-top:-40px;text-align: center;color: #fff;font-weight: 600;" >PROJECT DETAILS</p>
             </div>
             <br> <br> <br> <br>  <br> <br>  <br> <br> <br> <br> <br>  <br> <br>  <br><br> <br>  <br>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <div class="commitme" style="background-color: transparent;padding-top: 20px;"  >
              <img style="width: 220px;height:220px;border-radius: 25px;" src="https://images.unsplash.com/photo-1568048478323-26b5c074ca70?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGRhbXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" >
              <p class="commitment__name" style="margin-top:-40px;text-align: center;color: #fff;font-weight: 600;" >HISTORY</p>
             </div>
             <br> <br> <br> <br>  <br> <br>  <br> <br> <br> <br> <br>  <br> <br>  <br><br> <br>  <br>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="commitme" style="background-color: transparent;padding-top: 20px;"  >
         <img  style="width: 220px;height:220px;border-radius: 25px;"  src="https://images.unsplash.com/photo-1602867741746-6df80f40b3f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZmFybWVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" >
         <p class="commitment__name" style="margin-top:-40px;text-align: center;color: #fff;font-weight: 600;" >LOCATIONS</p>
        </div>
      
       
        
      
    </div>
    
  
    
    <div class="block button-block" style="text-align: center;" >
      <a class="button button--cta" style="border-radius: 25px;color: #fff;background-color: #5B6D92;" href="">
        Read More
        <svg class="icon" style="color: #fff;" >
            <use href="#arrow-right"/>
        </svg>
    </a>
    </div>
 
  <br> <br>
      </div>
    
        </main>



    
  </div>
</div>

<div class="background-text bg_light">
  <div class="background-text__text" aria-hidden="true" style="padding-left: 20%;" >
    Network Map
  </div>

  <div class="background-text__content"  >
    
      
  <h1 class="block block--large highlight-header" style="padding-left: 12%;font-size: 60px;" ><span class="highlight-header__underline" style="color: #252B3A;" > OUR network</span></h1>

<img style="padding-left: 100px;padding-right: 100px;" src="{% static 'landcoalition/images/MP.png' %}" style="width:50%;" >

<div class="background-text bg_light">
  

  <div class="background-text__content">
    
      
  

<div class="background-text bg_light">
  <div class="background-text__text" aria-hidden="true" style="padding-left: 20%;" >
    Stories
  </div>

  <div class="background-text__content"  >
    
      
  <h1 class="block block--large highlight-header" style="padding-left: 12%;font-size: 60px;" ><span class="highlight-header__underline" style="color: #252B3A;" >From our Network</span></h1>



    
      
<div class="row multiple" style="padding-right: 50px;padding-left: 50px;" >


<div class="page-card page-card--lac" style="border-radius:15px;" >
  <div class="page-card__image" style="background-color: transparent;">
        
            <img alt="Comunera de Huancapuquio cargando a su bebé camina frente a la escuela de la comunidad.jpg" class="page-card__image" style="border-radius: 15px 15px 0px 0px "  height="240" src="https://images.unsplash.com/photo-1609252509027-3928a66302fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aW5kaWFuJTIwZmFybWVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" width="420">
        
    </div>

    <div class="page-card__banner" style="background-color: transparent;">
        <span class="page-card__site" style="color: #000000;text-align:center;font-size: 18px;;" >Awaiting a Life-Changing Opportunity</span>

        
            <p class="page-card__tags">
                
                    <span>Farmers in the Kundalia region are hopeful that the project would bring water to their farms. Getting water in the fields will be a life-changing opportunity for farmers here, says Pop Singh Sisodiya of Lasuldiya village. Dilip Singh of Pilwas village says, “Farmers are getting high yields in the areas where they have received water. I’m hopeful that such transformation will take place in my village too.”
                    </span>
            </p>
        

        <span class="page-card__commitments">
            
        </span>
    </div>

    <div class="page-card__details" style="background-color:#fff;border-radius:0px 0px 15px 15px" >
        <p style="text-align: justify;margin-top:-15px" ></p>
        <br>
        <a href=""><h4 style="font-size: 15px;font-weight: 600;padding-left: 12px;margin-bottom: 0px;" >14 October 2021</h4></a>
        <a href="" class="button button--secondary button--slim" style="background-color: #5B6D92;color:#fff;width:180px;height:50px;border-radius: 25px;padding-left: 20px;" >
          Read More
            <svg class="icon icon--small" style="color: #fff;" >
                <use href="#arrow-right"/>
            </svg>
        </a>
    </div>
</div>



<div class="page-card page-card--lac" style="border-radius:15px;" >
  <div class="page-card__image" style="background-color: transparent;">
        
            <img alt="Comunera de Huancapuquio cargando a su bebé camina frente a la escuela de la comunidad.jpg" class="page-card__image" style="border-radius: 15px 15px 0px 0px "  height="240" src="https://images.unsplash.com/photo-1520052203542-d3095f1b6cf0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8aW5kaWFuJTIwZmFybWVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" width="420">
        
    </div>

    <div class="page-card__banner" style="background-color: transparent;">
        <span class="page-card__site" style="color: #000000;text-align:center;font-size: 18px;" >Celebrating Holi in Their Own Lands</span>

        
            <p class="page-card__tags">
                
                    <span>Unlike previous years when they would be in some foreign land, on construction sites or fields, the joyous farmers celebrated Holi in their village. The village now cultivates its fields and makes enough money to live off it all year long. Rajgarh's district collector, Mr.Harsh Dixit on the day of the Hindu festival of colors Holi, Harsh Dixit, and Mr.Vikas Rajoria, Project  Administrator of the Mohanpura and Kundalia irrigation projects, were welcomed with warmth and color at Machalpur village. The neighborhood welcomed them with fresh, green wheat ears, decorations, music, dancing, and festivities. Why would we toil in other places when we have water for our farms, asks farmer Bhansilal Tawar? Working on our grounds and producing brings us great delight say the localities’.</span>
            </p>
        

        <span class="page-card__commitments">
            
        </span>
    </div>

    <div class="page-card__details" style="background-color:#fff;border-radius:0px 0px 15px 15px" >
        <p style="text-align: justify;margin-top:-15px" ></p>
        <br>
        <a href=""><h4 style="font-size: 15px;font-weight: 600;padding-left: 12px;margin-bottom: 0px;" >14 October 2021</h4></a>
        <a href="" class="button button--secondary button--slim" style="background-color: #5B6D92;color:#fff;width:180px;height:50px;border-radius: 25px;padding-left: 20px;" >
          Read More
            <svg class="icon icon--small" style="color: #fff;" >
                <use href="#arrow-right"/>
            </svg>
        </a>
    </div>
</div>
    

<div class="page-card page-card--lac" style="border-radius:15px;" >
  <div class="page-card__image" style="background-color: transparent;">
        
            <img alt="Comunera de Huancapuquio cargando a su bebé camina frente a la escuela de la comunidad.jpg" class="page-card__image" style="border-radius: 15px 15px 0px 0px "  height="240" src="https://images.unsplash.com/photo-1623211269755-569fec0536d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8aW5kaWFuJTIwZmFybWVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" width="420">
        
    </div>

    <div class="page-card__banner" style="background-color: transparent;">
        <span class="page-card__site" style="color: #000000;text-align:center;font-size: 20px;" >Minister Of Civil Aviation </span>

        
            <p class="page-card__tags">
                
                    <span>On April 17, 2022, Jyotiraditya Scindia, the Indian government's minister of civil aviation, paid a visit to the Mohanpura pump house. The project's socio-cultural effects were briefly discussed by Vikas Rajoria, the project's administrator.  The idea was praised by the minister of civil aviation, who noted that it is not just increasing hectare-level yield while simultaneously reducing migration He praised the police officers and employees of the project for the project's effective execution. He said “Such kinds of projects will contribute to the development of the region. The success of this project will serve as an inspiration for the other projects in the country.”</span>
            </p>
        

        <span class="page-card__commitments">
            
        </span>
    </div>

    <div class="page-card__details" style="background-color:#fff;border-radius:0px 0px 15px 15px" >
        <p style="text-align: justify;margin-top:-15px" ></p>
        <br>
        <a href=""><h4 style="font-size: 15px;font-weight: 600;padding-left: 12px;margin-bottom: 0px;" >14 October 2021</h4></a>
        <a href="" class="button button--secondary button--slim" style="background-color: #5B6D92;color:#fff;width:180px;height:50px;border-radius: 25px;padding-left: 20px;" >
          Read More
            <svg class="icon icon--small" style="color: #fff;" >
                <use href="#arrow-right"/>
            </svg>
        </a>
    </div>
</div>

<div class="page-card page-card--lac" style="border-radius:15px;" >
  <div class="page-card__image" style="background-color: transparent;">
        
            <img alt="Comunera de Huancapuquio cargando a su bebé camina frente a la escuela de la comunidad.jpg" class="page-card__image" style="border-radius: 15px 15px 0px 0px "  height="240" src="https://images.unsplash.com/photo-1623211270083-5743da6c67ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8aW5kaWFuJTIwZmFybWVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" width="420">
        
    </div>

    <div class="page-card__banner" style="background-color: transparent;">
        <span class="page-card__site" style="color: #000000;text-align:center;font-size: 18px;;" >Awaiting a Life-Changing Opportunity</span>

        
            <p class="page-card__tags">
                
                    <span>Farmers in the Kundalia region are hopeful that the project would bring water to their farms. Getting water in the fields will be a life-changing opportunity for farmers here, says Pop Singh Sisodiya of Lasuldiya village. Dilip Singh of Pilwas village says, “Farmers are getting high yields in the areas where they have received water. I’m hopeful that such transformation will take place in my village too.”
                    </span>
            </p>
        

        <span class="page-card__commitments">
            
        </span>
    </div>

    <div class="page-card__details" style="background-color:#fff;border-radius:0px 0px 15px 15px" >
        <p style="text-align: justify;margin-top:-15px" ></p>
        <br>
        <a href=""><h4 style="font-size: 15px;font-weight: 600;padding-left: 12px;margin-bottom: 0px;" >14 October 2021</h4></a>
        <a href="" class="button button--secondary button--slim" style="background-color: #5B6D92;color:#fff;width:180px;height:50px;border-radius: 25px;padding-left: 20px;" >
          Read More
            <svg class="icon icon--small" style="color: #fff;" >
                <use href="#arrow-right"/>
            </svg>
        </a>
    </div>
</div>

<div class="page-card page-card--lac" style="border-radius:15px;" >
  <div class="page-card__image" style="background-color: transparent;">
        
            <img alt="Comunera de Huancapuquio cargando a su bebé camina frente a la escuela de la comunidad.jpg" class="page-card__image" style="border-radius: 15px 15px 0px 0px "  height="240" src="https://images.unsplash.com/photo-1600266189529-58cc5dc3d63d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8aXJyaWdhdGlvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" width="420">
        
    </div>

    <div class="page-card__banner" style="background-color: transparent;">
        <span class="page-card__site" style="color: #000000;text-align:center;font-size: 18px;" >Celebrating Holi in Their Own Lands</span>

        
            <p class="page-card__tags">
                
                    <span>Unlike previous years when they would be in some foreign land, on construction sites or fields, the joyous farmers celebrated Holi in their village. The village now cultivates its fields and makes enough money to live off it all year long. Rajgarh's district collector, Mr.Harsh Dixit on the day of the Hindu festival of colors Holi, Harsh Dixit, and Mr.Vikas Rajoria, Project  Administrator of the Mohanpura and Kundalia irrigation projects, were welcomed with warmth and color at Machalpur village. The neighborhood welcomed them with fresh, green wheat ears, decorations, music, dancing, and festivities. Why would we toil in other places when we have water for our farms, asks farmer Bhansilal Tawar? Working on our grounds and producing brings us great delight say the localities’.</span>
                
                   
                
            </p>
        

        <span class="page-card__commitments">
            
        </span>
    </div>

    <div class="page-card__details" style="background-color:#fff;border-radius:0px 0px 15px 15px" >
        <p style="text-align: justify;margin-top:-15px" ></p>
        <br>
        <a href=""><h4 style="font-size: 15px;font-weight: 600;padding-left: 12px;margin-bottom: 0px;" >14 October 2021</h4></a>
        <a href="" class="button button--secondary button--slim" style="background-color: #5B6D92;color:#fff;width:180px;height:50px;border-radius: 25px;padding-left: 20px;" >
          Read More
            <svg class="icon icon--small" style="color: #fff;" >
                <use href="#arrow-right"/>
            </svg>
        </a>
    </div>
</div>
    




    

  
</div>

    
  </div>
</div>






  <div class="block button-block " style="text-align: center;" >
    <a class="button button--cta" style="border-radius: 25px;color: #fff;background-color: #5B6D92;" href="{% url 'story' %}">
      EXPLORE MORE
      <svg class="icon" style="color: #fff;" >
          <use href="#arrow-right"/>
      </svg>
  </a>
  </div>


    
      <div class="commitments-block block block--largest commitments-block--light" style="padding-left: 0px;" >

        <div class="commitment"></div> 

  
    <div class="commitment" style="border-radius: 15px;
    box-shadow: -2px 0px 15px 0px rgb(24 24 24 / 20%);min-height: 300;max-width: 180px;" >
      
      
        <a href="{% url 'videos' %}"  > <img  style="width: 70%;" src="{%  static 'landcoalition/images/cc.png' %}"/></a>
      
      <a href="{% url 'videos' %}"  ><p class="commitment__name" style="font-size: 25px;" >Videos</p></a>
    </div>

    &nbsp;&nbsp;&nbsp;&nbsp;
  
    <div class="commitment" style="border-radius: 15px ;
    box-shadow: -2px 0px 15px 0px rgb(24 24 24 / 20%);max-width: 180px;" >
    
        <a href="{% url 'audios' %}"  >  <img  style="width: 70%;"  src="{%  static 'landcoalition/images/aud.png' %}"/></a>
      
      <a href="{% url 'audios' %}"  > <p class="commitment__name" style="font-size: 25px;" >Audio</p></a>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;
  
    <div class="commitment" style="border-radius: 15px;
    box-shadow: -2px 0px 15px 0px rgb(24 24 24 / 20%);max-width: 180px;" >      
    <a href="{% url 'blogs' %}"  >  <img  style="width: 70%;"  src="{%  static 'landcoalition/images/coo.png' %}"/></a>
    <a href="{% url 'blogs' %}"  > <p class="commitment__name" style="font-size: 25px;" >Blogs</p></a>
    </div>
    <div class="commitment"></div> 
  
</div>

    
  </div>

    </main>

    <div class="background-text bg_light" >
      <div class="background-text__text" aria-hidden="true" style="padding-left: 30%;" >
        PEOPLE'S
      </div>
    
      <div class="background-text__content"  >
        
          
      <h1 class="block block--large highlight-header" style="padding-left: 32%;font-size: 60px;" ><span class="highlight-header__underline" style="color: #252B3A;" >VOICE</span></h1>
    
    

    
    {% include 'contact.html' %}
      {% include 'footer.html' %}
      

