<!doctype html>
<html lang="en">
  <head>
      {% load static %}
    
  </head>
  
  <body >

      {% include 'header.html' %}
  

      <div class="background-text bg_light">
        
        <div class="background-text__content"  >
          
            
        <h1 class="block block--large highlight-header" style="padding-left: 25%;font-size: 60px;" ><span class="highlight-header" style="color: #252B3A;" >VIDEOS</span></h1>
      
      
        {% include 'youtube.html' %}

        <br><br><br><br><br><br>


      {% include 'footer.html' %}
 
    
  </body>
</html>