<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}

	<link rel="stylesheet" type="text/css" href="{% static 'contact/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>

	<div class="contact1">
		<div class="container-contact1" style="box-shadow: -2px 0px 15px 0px rgb(24 24 24 / 20%);" >
			<div class="contact1-pic js-tilt" data-tilt>
				<img src="{% static 'landcoalition/images/contact.png' %}" alt="IMG" style="height: 450px;border-radius: 15px;" >
			</div>

			<form class="contact1-form validate-form"  >
				
				<div class="wrap-input1 validate-input" data-validate = "Name is required">
					<input style="font-family: Quicksand, sans-serif" class="input1" type="text" name="name" placeholder="Name">
					<span class="shadow-input1"></span>
				</div>

				<div class="wrap-input1 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<input style="font-family: Quicksand, sans-serif" class="input1" type="text" name="email" placeholder="Email">
					<span class="shadow-input1"></span>
				</div>

				<div class="wrap-input1 validate-input" data-validate = "Subject is required">
					<input style="font-family: Quicksand, sans-serif"  class="input1" type="text" name="subject" placeholder="Subject">
					<span class="shadow-input1"></span>
				</div>

				<div class="wrap-input1 validate-input" data-validate = "Message is required">
					<textarea style="font-family: Quicksand, sans-serif" class="input1" name="message" placeholder="Message"></textarea>
					<span class="shadow-input1"></span>
				</div>

				<div class="container-contact1-form-btn">
					<a href="" class="button button--secondary button--slim" style="background: linear-gradient(90.97deg, #FF6617 -5.37%, #FFB50B 103.01%);;border: 1px solid rgb(248, 248, 248);font-size: 17px;color:#fff;width:370px;height:44px;border-radius: 25px;padding-left: 120px;" >
						Send Email
						  <svg class="icon icon--small" style="color: #fff;" >
							  <use href="#arrow-right"/>
						  </svg>
					  </a>
				</div>
			</form>
		</div>
	</div>


</body>
</html>
