{% load static %}
<footer class="page-footer inverted" style="background-color: #252B3A;padding-left: 50px;padding-right: 50px;" >
        

    <div class="footer__brand"  >
      <img style="width:50%;padding-top: 4.5px;" src="{% static 'landcoalition/images/log.png' %}" >
      <p style="font-size:20px;color: #fff;" >MP GOVERMENT</p>
      
    </div>
    
    <div class="footer__contact">
      <h3 style="color: #fff;" >Contact</h3>
      
            <p style="color: #fff;" >xxx  xxx xxx xx x x x<br>
            xxx  xxx<br>
            xxxx   xx  xxxxxxx xx<br>
            xxxxx - xxxxx xxx xx<br>
            Tel. +xx xx xxxx xxxx<br>
            <a style="color: #fff;" href="">info@xxxxxxxxxxxxxxx.org</a></p>
    </div>
    
    <div class="footer__social">
      <h3 style="color: #fff;;" >ILC Social</h3>
      <ul class="social">
      
      <li>
        <a href="" class="facebook" target="_blank">
          <svg class="icon">
            <use href="#facebook"/>
          </svg> Facebook
        </a>
      </li>
      
      
      <li>
        <a href="" class="twitter" target="_blank">
          <svg class="icon">
            <use href="#twitter"/>
          </svg> Twitter
        </a>
      </li>
      
      
      <li>
        <a href="" class="youtube" target="_blank">
          <svg class="icon">
            <use href="#youtube"/>
          </svg> YouTube
        </a>
      </li>
      
      
      <li>
        <a href="" class="instagram" target="_blank">
          <svg class="icon">
            <use href="#instagram"/>
          </svg> Instagram
        </a>
      </li>
      
      
      <li>
        <a href="" class="linkedin" target="_blank">
          <svg class="icon">
            <use href="#linkedin"/>
          </svg> LinkedIn
        </a>
      </li>
      
    </ul>
    
    </div>
    
    <div class="footer__subscribe">
      <h3 style="color: #fff;" >About our Team</h3>
      <p style="color: #fff;" >Vestibulum sed neque pellentesque, hendrerit libero posuere, mollis magna. Donec vel lacinia quam. Pellentesque rutrum viverra augue, eu blandit feli ante
      </p>
    </div>
    
    <div class="footer__links">
      <div class="four-column-grid">
      
        <div>
          <h3><a href="" style="color: #fff;" >EXPLORE</a></h3>
          <p class="nav-summary-text" style="color: #fff;" >Explore our network, work and impact...</p>
    
          
            <ul class="navigation-list">
              
                <li>
                  <a href="">
                    GOAL
                  </a>
                  
                </li>
              
                <li>
                  <a href="">
                    NETWORK
                  </a>
                  
                </li>
              
                <li>
                  <a href="">
                    BASIN
                  </a>
                  
                    <button class="has-children">+</button>
                    <ul class="sub-navigation">
                      
                        <li><a href="">ABOUT THE BASIN</a></li>
                      
                        <li><a href="">WATER RESOURCES MANAGEMENT</a></li>
                      
                        <li><a href="">PLAN</a></li>
                      
                        <li><a href="">EXECUTIVE SUMMARY</a></li>
                      
                       
                      
                    </ul>
                  
                </li>

                <li>
                  <a href="">
                    ABOUT US
                  </a>
                  
                </li>
                <li>
                  <a href="">
                    ABOUT TEAM
                  </a>
                  
                </li>
                <li>
                  <a href="">
                    VILLAGE
                  </a>
                  
                </li>
                <li>
                  <a href="">
                    LOCATION
                  </a>
                  
                </li>
              
               
              
            </ul>
          
        </div>
      
        <div>
          <h3><a href="" style="color: #fff;" >PROJECT</a></h3>
          <p class="nav-summary-text" style="color: #fff;" >Find inspiration and solutions in the Learning Hub</p>
    
          
            <ul class="navigation-list">
              
                <li>
                  <a href="">
                    MAP & DETAILS
                  </a>
                  
                </li>
                <li>
                  <a href="">
                    MOHANPURA
                  </a>
                  
                    <button class="has-children">+</button>
                    <ul class="sub-navigation">
                      
                        <li><a href="">RBC</a></li>
                      
                        <li><a href="">LBC</a></li>
                        <li><a href="">LEFT EXTENTION</a></li>
                      
                        <li><a href="">RIGHT EXTENTION</a></li>
                        <li><a href="">DOCUMENTATION</a></li>
                      
                        <li><a href="">STATUS</a></li>
                        <li><a href="">DAM & REHAB</a></li>
                      
                        <li><a href="">LA & REHAB</a></li>
                        <li><a href="">DAM</a></li>
                      
                        <li><a href="">PIN</a></li>
                      
                    </ul>
                  
                </li>
                <li>
                  <a href="">
                    KUNDALIYA
                  </a>
                  
                    <button class="has-children">+</button>
                    <ul class="sub-navigation">
                      
                      <li><a href="">RBC</a></li>
                      
                      <li><a href="">LBC</a></li>
                      <li><a href="">LEFT EXTENTION</a></li>
                    
                      <li><a href="">RIGHT EXTENTION</a></li>
                      <li><a href="">DOCUMENTATION</a></li>
                    
                      <li><a href="">STATUS</a></li>
                      <li><a href="">DAM & REHAB</a></li>
                    
                      <li><a href="">LA & REHAB</a></li>
                      <li><a href="">DAM</a></li>
                    
                      <li><a href="">PIN</a></li>
                      
                       
                      
                        
                      
                    </ul>
                  
                </li>
              
                <li>
                  <a href="">
                    FAQ
                  </a>
                  
                </li>
              
            </ul>
          
        </div>
      
        <div>
          <h3><a href="" style="color: #fff;" >JOURNEY</a></h3>
          <p class="nav-summary-text" style="color: #fff;" >Engage in network activities and events...</p>
    
          
            <ul class="navigation-list">
              
                <li>
                  <a href="">
                    STORY
                  </a>
                  
                </li>
              
                <li>
                  <a href="">
                    FIRST STEP
                  </a>
                  
                </li>
              
                <li>
                  <a href="">
                    IMPLEMENTATION
                  </a>
                  
                </li>
                <li>
                  <a href="">
                    ESTABLISHMENT OF PMU
                  </a>
                  
                </li>
              
            </ul>
          
        </div>
      
        <div>
          <h3><a href="" style="color: #fff;" >IMPACT</a></h3>
          <p class="nav-summary-text" style="color: #fff;" >Engage in network activities and events...</p>
    
          
            <ul class="navigation-list">
              
                <li>
                  <a href="">
                    STORIES OF CHANGE
                  </a>
                  
                </li>
              
               
              
            </ul>
          
        </div>

    </div>
    
    </div>
    
          </footer>
        
    
        
    
        
    
        <script src="{% static 'landcoalition/js/base.caa78324a795.js' %}"></script>
        <script src="{% static 'landcoalition/js/blocks.c2b71d0ae069.js' %}"></script>
        <script>
          
        </script>
    <!-- script for banner slider-->
  <script>
    $(document).ready(function () {
      $('.owl-one').owlCarousel({
        loop: true,
        margin: 0,
        nav: false,
        responsiveClass: true,
        autoplay: true,
        autoplayTimeout: 5000,
        autoplaySpeed: 1000,
        autoplayHoverPause: false,
        responsive: {
          0: {
            items: 1
          },
          480: {
            items: 1
          },
          667: {
            items: 1
          },
          1000: {
            items: 1
          }
        }
      })
    })
  </script>
  <!-- //script -->
  <!-- script for tesimonials carousel slider -->


    
    </body></html>