{% load static %}
<footer class="page-footer inverted" style="background-color: #252B3A;padding-left: 50px;padding-right: 50px;" >
        

    <div class="footer__brand"  >
      <img style="width:50%;padding-top: 4.5px;" src="{% static 'landcoalition/images/log.png' %}" >
      <p style="font-size:20px;color: #fff;" >MP GOVERMENT</p>
      
    </div>
    
    <div class="footer__contact">
      <h3 style="color: #fff;" >Contact</h3>
      
            <p>xxx  xxx xxx xx x x x<br>
            xxx  xxx<br>
            xxxx   xx  xxxxxxx xx<br>
            xxxxx - xxxxx xxx xx<br>
            Tel. +xx xx xxxx xxxx<br>
            <a href="">info@xxxxxxxxxxxxxxx.org</a></p>
    </div>
    
    <div class="footer__social">
      <h3 style="color: #fff;;" >ILC Social</h3>
      <ul class="social">
      
      <li>
        <a href="" class="facebook" target="_blank">
          <svg class="icon">
            <use href="#facebook"/>
          </svg> Facebook
        </a>
      </li>
      
      
      <li>
        <a href="" class="twitter" target="_blank">
          <svg class="icon">
            <use href="#twitter"/>
          </svg> Twitter
        </a>
      </li>
      
      
      <li>
        <a href="" class="youtube" target="_blank">
          <svg class="icon">
            <use href="#youtube"/>
          </svg> YouTube
        </a>
      </li>
      
      
      <li>
        <a href="" class="instagram" target="_blank">
          <svg class="icon">
            <use href="#instagram"/>
          </svg> Instagram
        </a>
      </li>
      
      
      <li>
        <a href="" class="linkedin" target="_blank">
          <svg class="icon">
            <use href="#linkedin"/>
          </svg> LinkedIn
        </a>
      </li>
      
    </ul>
    
    </div>
    
    <div class="footer__subscribe">
      <h3 style="color: #fff;" >About our Team</h3>
      <p>Vestibulum sed neque pellentesque, hendrerit libero posuere, mollis magna. Donec vel lacinia quam. Pellentesque rutrum viverra augue, eu blandit feli ante
      </p>
    </div>
    
    <div class="footer__links">
      <div class="four-column-grid">
      
        <div>
          <h3><a href="" style="color: #fff;" >EXPLORSS</a></h3>
          <p class="nav-summary-text">Explore our network, work and impact...</p>
    
          
            <ul class="navigation-list">
              
                <li>
                  <a href="">
                    OUR GOAL
                  </a>
                  
                </li>
              
                <li>
                  <a href="">
                    OUR NETWORK
                  </a>
                  
                </li>
              
                <li>
                  <a href="">
                    OUR WORK
                  </a>
                  
                    <button class="has-children">+</button>
                    <ul class="sub-navigation">
                      
                        <li><a href="">MULTI-STAKEHOLDER PLATFORMS</a></li>
                      
                        <li><a href="">FAMILY FARMING</a></li>
                      
                        <li><a href="">HUMAN RIGHTS</a></li>
                      
                        <li><a href="">RANGELANDS</a></li>
                      
                        <li><a href="">COMMUNITY LAND RIGHTS</a></li>
                      
                        <li><a href="">YOUTH</a></li>
                      
                        <li><a href="">ECOSYSTEMS</a></li>
                      
                        <li><a href="">WOMEN'S LAND RIGHTS</a></li>
                      
                        <li><a href="">INDIGENOUS PEOPLES</a></li>
                      
                        <li><a href="">DATA</a></li>
                      
                        <li><a href="">GLOBAL GOALS</a></li>
                      
                        <li><a href="">NETWORK VIBRANCY</a></li>
                      
                        <li><a href="">FOOD SYSTEMS</a></li>
                      
                    </ul>
                  
                </li>
              
                <li>
                  <a href="">
                    OUR FOCUS COUNTRIES
                  </a>
                  
                    <button class="has-children">+</button>
                    <ul class="sub-navigation">
                      
                        <li><a href="">Albania</a></li>
                      
                        <li><a href="">Argentina</a></li>
                      
                        <li><a href="">Bangladesh</a></li>
                      
                        <li><a href="">Bolivia</a></li>
                      
                        <li><a href="">Cambodia</a></li>
                      
                        <li><a href="">Cameroon</a></li>
                      
                        <li><a href="">Colombia</a></li>
                      
                        <li><a href="">DR Congo</a></li>
                      
                        <li><a href="">Ecuador</a></li>
                      
                        <li><a href="">Guatemala</a></li>
                      
                        <li><a href="">India</a></li>
                      
                        <li><a href="">Indonesia</a></li>
                      
                        <li><a href="">Kenya</a></li>
                      
                        <li><a href="">Kosovo</a></li>
                      
                        <li><a href="">Kyrgyzstan</a></li>
                      
                        <li><a href="">Liberia</a></li>
                      
                        <li><a href="">Madagascar</a></li>
                      
                        <li><a href="">Malawi</a></li>
                      
                        <li><a href="">Moldova</a></li>
                      
                        <li><a href="">Mongolia</a></li>
                      
                        <li><a href="">Nepal</a></li>
                      
                        <li><a href="">Nicaragua</a></li>
                      
                        <li><a href="">Perú</a></li>
                      
                        <li><a href="">Philippines</a></li>
                      
                        <li><a href="">Senegal</a></li>
                      
                        <li><a href="">South Africa</a></li>
                      
                        <li><a href="">Tanzania</a></li>
                      
                        <li><a href="">Togo</a></li>
                      
                        <li><a href="">Uganda</a></li>
                      
                    </ul>
                  
                </li>
              
            </ul>
          
        </div>
      
        <div>
          <h3><a href="" style="color: #fff;" >LEARN</a></h3>
          <p class="nav-summary-text">Find inspiration and solutions in the Learning Hub</p>
    
          
            <ul class="navigation-list">
              
                <li>
                  <a href="">
                    Good Practices
                  </a>
                  
                </li>
              
                <li>
                  <a href="">
                    Learning Webinars
                  </a>
                  
                </li>
              
            </ul>
          
        </div>
      
        <div>
          <h3><a href="" style="color: #fff;" >ENGAGE</a></h3>
          <p class="nav-summary-text">Engage in network activities and events...</p>
    
          
            <ul class="navigation-list">
              
                <li>
                  <a href="">
                    Become a Member
                  </a>
                  
                </li>
              
                <li>
                  <a href="">
                    Become a Partner
                  </a>
                  
                </li>
              
                <li>
                  <a href="">
                    Opportunities & Events
                  </a>
                  
                </li>
              
            </ul>
          
        </div>
      
    
      <div class="nav__main-links--no-heading">
        <ul class="navigation-list">
          
            <li>
              <a href="" class="main-link">NEWS & STORIES</a>
              
            </li>
          
            <li>
              <a href="" class="main-link">RESOURCES</a>
              
            </li>
          
            <li>
              <a href="" class="main-link">ACCOUNTABILITY</a>
              
            </li>
          
            <li>
              <a href="" class="main-link">2019-21 Triennial Report</a>
              
            </li>
          
            <li>
              <a href="" class="main-link">ABOUT ILC</a>
              
                <button class="has-children">+</button>
                <ul class="sub-navigation">
                  
                    <li><a href="">History</a></li>
                  
                    <li><a href="">2030 Strategy</a></li>
                  
                    <li><a href="">Core Values</a></li>
                  
                    <li><a href="">Governance</a></li>
                  
                    <li><a href="">Our Team</a></li>
                  
                    <li><a href="">FAQ</a></li>
                  
                </ul>
              
            </li>
          
        </ul>
      </div>
    </div>
    
    </div>
    
          </footer>
        
    
        
    
        
    
        <script src="{% static 'landcoalition/js/base.caa78324a795.js' %}"></script>
        <script src="{% static 'landcoalition/js/blocks.c2b71d0ae069.js' %}"></script>
        <script>
          
        </script>
    
        <script>
          let slideIndex = 0;
          showSlides();
          
          function showSlides() {
            let i;
            let slides = document.getElementsByClassName("mySlidesz");
            let dots = document.getElementsByClassName("dotz");
            for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";  
            }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}    
            for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";  
            dots[slideIndex-1].className += " active";
            setTimeout(showSlides, 4000); // Change image every 2 seconds
          }
          </script>
          
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
          <script>
            $('.multiple').slick({
              dots: false,
              infinite: true,
              groupCells: true,
              slidesToShow: 4,
              slidesToScroll: 1,
              autoplay: true,
              autoplaySpeed: 4000,
              freeScroll: true,
              wrapAround: true,
              contain: true,
              responsive: [
              {
                breakpoint: 1024,
                settings: {
                  slidesToShow: 3,
                  slidesToScroll: 3,
                  infinite: true,
                  dots: true
                }
              },
              {
                breakpoint: 600,
                settings: {
                  slidesToShow: 1,
                  slidesToScroll: 1
                }
              },
              {
                breakpoint: 400,
                settings: {
                  slidesToShow: 1,
                  slidesToScroll: 1,
              },
             
                
              }
      ]
            });
    
            
          </script>
    
    </body></html>