{% load static %}
<footer class="page-footer inverted" style="background-color: #252B3A;padding-left: 50px;padding-right: 50px" >
        

    <div class="footer__brand"  >
      <img style="width:100%;padding-top: 4.5px;" src="{% static 'landcoalition/images/logo_foot.png' %}" >
   
    </div>
    
    <div class="footer__contact">
      <h3 style="color: #ff6617" >Contact</h3>
      
            <p style="color: #fff;" >xxx  xxx xxx xx x x x<br>
            xxx  xxx<br>
            xxxx   xx  xxxxxxx xx<br>
            xxxxx - xxxxx xxx xx<br>
            Tel. +xx xx xxxx xxxx<br>
            <a style="color: #fff;" href="">info@xxxxxxxxxxxxxxx.org</a></p>
    </div>
    
    <div class="footer__social">
      <h3 style="color: #ff6617;;" >ILC Social</h3>
      <ul class="social">
      
      <li>
        <a style="color: #fff;" href="" class="facebook" target="_blank">
          <svg  class="icon">
            <use  href="#facebook"/>
          </svg> Facebook
        </a>
      </li>
      
      
      <li>
        <a style="color: #fff;" href="" class="twitter" target="_blank">
          <svg class="icon">
            <use href="#twitter"/>
          </svg> Twitter
        </a>
      </li>
      
      
      <li>
        <a style="color: #fff;" href="" class="youtube" target="_blank">
          <svg class="icon">
            <use href="#youtube"/>
          </svg> YouTube
        </a>
      </li>
      
      
      <li>
        <a style="color: #fff;" href="" class="instagram" target="_blank">
          <svg class="icon">
            <use href="#instagram"/>
          </svg> Instagram
        </a>
      </li>
      
      
      <li>
        <a style="color: #fff;" href="" class="linkedin" target="_blank">
          <svg class="icon">
            <use href="#linkedin"/>
          </svg> LinkedIn
        </a>
      </li>
      
    </ul>
    
    </div>
    
    <div class="footer__subscribe">
      <h3 style="color: #ff6617" >SUBSCRIBE</h3>
      <p style="color: #fff;" >For more stories on how our members are fighting for land rights, subscribe to our newsletter now!
      </p>
      <a href="" class="button button--secondary button--slim" style="background: linear-gradient(90.97deg, #FF6617 -5.37%, #FFB50B 103.01%);;border: 1px solid rgb(248, 248, 248);font-size: 17px;color:#fff;width:170px;height:44px;border-radius: 25px;padding-left: 22px;" >
        SUBSCRIBE
          <svg class="icon icon--small" style="color: #fff;" >
              <use href="#arrow-right"/>
          </svg>
      </a>
    </div>
    
    <div class="footer__links">
      <div class="four-column-grid">
      
        <div>
          <h3><a href="{% url 'explore' %}" style="color: #ff6617" >EXPLORE</a></h3>
          <p class="nav-summary-text" style="color: #fff;" >Explore our network, work and impact...</p>
    
          
            <ul class="navigation-list">
              
                <li>
                  <a style="color: #fff;" href="{% url 'goal' %}">
                    GOAL
                  </a>
                  
                </li>
              
                <li>
                  <a style="color: #fff;" href="{% url 'network' %}">
                    NETWORK
                  </a>
                  
                </li>
              
                <li>
                  <a style="color: #fff;" href="{% url 'basin' %}">
                    BASIN
                  </a>
                  
                    <button class="has-children">+</button>
                    <ul class="sub-navigation">
                      
                        <li><a href="">ABOUT THE BASIN</a></li>
                      
                        <li><a href="">WATER RESOURCES MANAGEMENT</a></li>
                      
                        <li><a href="">PLAN</a></li>
                      
                        <li><a href="">EXECUTIVE SUMMARY</a></li>
                      
                       
                      
                    </ul>
                  
                </li>

                <li>
                  <a style="color: #fff;" href="{% url 'about_project' %}">
                    ABOUT PROJECT
                  </a>
                  
                </li>
                <li>
                  <a style="color: #fff;" href="{% url 'about_team' %}">
                    ABOUT TEAM
                  </a>
                  
                </li>
                <li>
                  <a style="color: #fff;" href="{% url 'village' %}">
                    VILLAGE
                  </a>
                  
                </li>
                <li>
                  <a style="color: #fff;" href="{% url 'location' %}">
                    LOCATION
                  </a>
                  
                </li>
              
               
              
            </ul>
          
        </div>
      
        <div>
          <h3><a href="{% url 'project' %}" style="color:#ff6617" >PROJECT</a></h3>
          <p class="nav-summary-text" style="color: #fff;" >Explore Our project and Workspace</p>
    
          
            <ul class="navigation-list">
              
                <li>
                  <a style="color: #fff;" href="{% url 'mapdetail' %}">
                    MAP & DETAIL
                  </a>
                  
                </li>
                <li>
                  <a style="color: #fff;" href="{% url 'mohanpura' %}">
                    MOHANPURA
                  </a>
                  
                    <button class="has-children">+</button>
                    <ul class="sub-navigation">
                      
                        <li><a href="">RBC</a></li>
                      
                        <li><a href="">LBC</a></li>
                        <li><a href="">LEFT EXTENTION</a></li>
                      
                        <li><a href="">RIGHT EXTENTION</a></li>
                        <li><a href="">DOCUMENTATION</a></li>
                      
                        <li><a href="">STATUS</a></li>
                        <li><a href="">DAM & REHAB</a></li>
                      
                        <li><a href="">LA & REHAB</a></li>
                        <li><a href="">DAM</a></li>
                      
                        <li><a href="">PIN</a></li>
                      
                    </ul>
                  
                </li>
                <li>
                  <a style="color: #fff;" href="{% url 'kundaliya' %}">
                    KUNDALIYA
                  </a>
                  
                    <button class="has-children">+</button>
                    <ul class="sub-navigation">
                      
                      <li><a href="">RBC</a></li>
                      
                      <li><a href="">LBC</a></li>
                      <li><a href="">LEFT EXTENTION</a></li>
                    
                      <li><a href="">RIGHT EXTENTION</a></li>
                      <li><a href="">DOCUMENTATION</a></li>
                    
                      <li><a href="">STATUS</a></li>
                      <li><a href="">DAM & REHAB</a></li>
                    
                      <li><a href="">LA & REHAB</a></li>
                      <li><a href="">DAM</a></li>
                    
                      <li><a href="">PIN</a></li>
                      
                       
                      
                        
                      
                    </ul>
                  
                </li>
              
                <li>
                  <a style="color: #fff;" href="{% url 'faq' %}">
                    FAQ
                  </a>
                  
                </li>
              
            </ul>
          
        </div>
      
        <div>
          <h3><a href="{% url 'journey' %}" style="color: #ff6617" >JOURNEY</a></h3>
          <p class="nav-summary-text" style="color: #fff;" >Our Journey beigns with new activities and events...</p>
    
          
            <ul class="navigation-list">
              
                <li>
                  <a style="color: #fff;" href="{% url 'story' %}">
                    STORY
                  </a>
                  
                </li>
              
                <li>
                  <a style="color: #fff;" href="{% url 'firststep' %}">
                    FIRST STEP
                  </a>
                  
                </li>
              
                <li>
                  <a style="color: #fff;" href="{% url 'implementation' %}">
                    IMPLEMENTATION
                  </a>
                  
                </li>
                <li>
                  <a style="color: #fff;" href="{% url 'establishment_of_pmu' %}">
                    ESTABLISHMENT OF PMU
                  </a>
                  
                </li>
              
            </ul>
          
        </div>
      
        <div>
          <h3><a href="{% url 'impact' %}" style="color: #ff6617" >IMPACT</a></h3>
          <p class="nav-summary-text" style="color: #fff;" >Engage in Impact activities and events...</p>
    
          
            <ul class="navigation-list">
              
                <li>
                  <a style="color: #fff;" href="{% url 'storiesofchange' %}">
                    STORIES OF CHANGE
                  </a>
                  
                </li>
                <li>
                  <a style="color: #fff;" href="{% url 'resources' %}">
                    RESOURCES
                  </a>
                  
                </li>
                <li>
                  <a style="color: #fff;" href="{% url 'peoplesvoice' %}">
                    PEOPLE'S VOICE
                  </a>
                  
                </li>
                <li>
                  <a style="color: #fff;" href="{% url 'learn' %}">
                    LEARN
                  </a>
                  
                </li>
               
              
            </ul>
          
        </div>

    </div>
    
    </div>
    
          </footer>
        
    
        
    
        
    
        <script src="{% static 'landcoalition/js/base.caa78324a795.js' %}"></script>
        <script src="{% static 'landcoalition/js/blocks.c2b71d0ae069.js' %}"></script>
        <script>
          
        </script>
    <!-- script for banner slider-->
  <script>
    $(document).ready(function () {
      $('.owl-one').owlCarousel({
        loop: true,
        margin: 0,
        nav: false,
        responsiveClass: true,
        autoplay: true,
        autoplayTimeout: 5000,
        autoplaySpeed: 1000,
        autoplayHoverPause: false,
        responsive: {
          0: {
            items: 1
          },
          480: {
            items: 1
          },
          667: {
            items: 1
          },
          1000: {
            items: 1
          }
        }
      })
    })
  </script>
  <!-- //script -->
  <!-- script for tesimonials carousel slider -->

  <script>
    tinymce.init({
      selector: '#mytextarea'
    });
  </script>
    
    </body></html>