<!DOCTYPE html>
<html lang="en">

  <head>
    {% load static %}

    <link rel="stylesheet" href="{% static 'assets/css/templatemo-finance-business.css' %}">
   

  </head>

  <body>

  
    <!-- Banner Starts Here -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item item-1">
            <div class="img-fill" style="background: linear-gradient(rgba(0%,0%,0%, 0.40), rgba(239%,239%,239%, 0.40)), url({% static 'landcoalition/images/b1.jpg' %})">
                <div class="text-content">
                  <h4 style="text-shadow: 2px 2px 3px black;padding-left:20px" >The Mohanpura and Kundalia Irrigation Project</h4>
                  <h6 style="padding-left: 20px;color: #FF8A00;text-shadow: 2px 2px 3px black;padding-left:20px" >India’s first and the largest SCADA-enabled Automated <br> Pressurized Irrigation Network (PIN) </h6>
                  <div class="hero__link" style="padding-left: 20px;" >
                    <a class="button button--cta" href="" style="border-radius: 25px;border: 1px solid rgb(248, 248, 248);background: linear-gradient(90.97deg, #FF6617 -5.37%, #FFB50B 103.01%);
                    ;font-size: 20px;text-shadow: 2px 2px 3px black;"  >AGREEMENTS
                      <svg class="icon">
                        <use href="#arrow-right"/>
                      </svg>
                    </a>
                  </div>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-2">
            <div class="img-fill" style="background: linear-gradient(rgba(0%,0%,0%, 0.40), rgba(239%,239%,239%, 0.40)), url({% static 'landcoalition/images/b2.jpg' %})">
                <div class="text-content">
                  <h4 style="text-shadow: 2px 2px 3px black;" >The Impact and <br> the start of the project</h4>
                  <h6 style="text-shadow: 2px 2px 3px black;color: #FF8A00;" >Established in 2018</h6>
                  <p style="text-shadow: 2px 2px 3px black;font-weight: 600;" >In Rajgarh district, Madhya Pradesh, India</p>
                  <h6 style="text-shadow: 2px 2px 3px black;color: #FF8A00;" >Covering 3.85 lakh hectares of agricultural land</h6>
                  <p style="text-shadow: 2px 2px 3px black;font-weight: 600;" >Across 7 sub-projects</p>
                  <h6 style="text-shadow: 2px 2px 3px black;color: #FF8A00;" >Impacting 7 lakh Villagers in 1195 villages</h6>
                 
                  <div class="hero__link" style="padding-left: 20px;" >
                    <a class="button button--cta" href="" style="border-radius: 25px;border: 1px solid rgb(248, 248, 248);background: linear-gradient(90.97deg, #FF6617 -5.37%, #FFB50B 103.01%);
                    ;font-size: 20px;text-shadow: 2px 2px 3px black;"  >AGREEMENTS
                      <svg class="icon">
                        <use href="#arrow-right"/>
                      </svg>
                    </a>
                  </div>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-3">
            <div class="img-fill" style="background: linear-gradient(rgba(0%,0%,0%, 0.40), rgba(239%,239%,239%, 0.40)), url({% static 'landcoalition/images/b3.jpg' %})">
                <div class="text-content">
                  <h4 style="text-shadow: 2px 2px 3px black;" >Socio-cultural impact <br> of the project </h4>
                  <h7 style="text-shadow: 2px 2px 3px black;color:#fff;font-size:20px;font-weight:600" >A quote from a farmer on reduce in migration among farmers due to the project.</h7>
                  <p style="text-shadow: 2px 2px 3px black;font-weight:600" >“why would we toil away in alien lands, when we have water for our fields? We feel much joy in working on our lands and producing our own grains!”</p>
                  <div class="hero__link" style="padding-left: 20px;" >
                    <a class="button button--cta" href="" style="border-radius: 25px;border: 1px solid rgb(248, 248, 248);background: linear-gradient(90.97deg, #FF6617 -5.37%, #FFB50B 103.01%);
                    ;font-size: 20px;text-shadow: 2px 2px 3px black;"  >AGREEMENTS
                      <svg class="icon">
                        <use href="#arrow-right"/>
                      </svg>
                    </a>
                  </div>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-3">
            <div class="img-fill" style="background: linear-gradient(rgba(0%,0%,0%, 0.40), rgba(239%,239%,239%, 0.40)), url({% static 'landcoalition/images/b4.jpg' %})">
                <div class="text-content">
                  <h4 style="text-shadow: 2px 2px 3px black;" >Mohanpura Dam</h4>
                  <h7 style="text-shadow: 2px 2px 3px black;color:#fff;font-size:20px;font-weight:600" >Mohanpura Dam,<br> 
                    Newaj River, Madhya Pradesh, India
                    </h7>
                  <p style="text-shadow: 2px 2px 3px black;font-weight:600" >-	Gross storage in million cubic meters - 616mcm <br>
                    -	Irrigation capacity - 145500 ha <br>
                    -	Irrigated areas - 61000 ha (March 2022) <br>
                    -	Villages benefited - 776 villages
                    </p>
                  <div class="hero__link" style="padding-left: 20px;" >
                    <a class="button button--cta" href="" style="border-radius: 25px;border: 1px solid rgb(248, 248, 248);background: linear-gradient(90.97deg, #FF6617 -5.37%, #FFB50B 103.01%);
                    ;font-size: 20px;text-shadow: 2px 2px 3px black;"  >AGREEMENTS
                      <svg class="icon">
                        <use href="#arrow-right"/>
                      </svg>
                    </a>
                  </div>
                </div>
            </div>
          </div>
          <!-- // Item -->
           <!-- Item -->
           <div class="item item-3">
            <div class="img-fill" style="background: linear-gradient(rgba(0%,0%,0%, 0.40), rgba(239%,239%,239%, 0.40)), url({% static 'landcoalition/images/b5.jpg' %});">
                <div class="text-content">
                  <h4 style="text-shadow: 2px 2px 3px black;" >Kundalia Dam</h4>
                  <h7 style="text-shadow: 2px 2px 3px black;color:#fff;font-size:20px;font-weight:600" >Kundalia Dam, <br> 
                    River,  Madhya Pradesh, India
                    </h7>
                  <p style="text-shadow: 2px 2px 3px black;font-weight:600" >-	Gross storage in million cubic meters - 587.75 mcm<br>
                    -	Irrigation capacity - 139600 ha <br>
                    -	Irrigated areas - 41000 ha (March 2022)<br>
                    -	Villages benefited – 419 villages
                    
                    </p>
                  <div class="hero__link" style="padding-left: 20px;" >
                    <a class="button button--cta" href="" style="border-radius: 25px;border: 1px solid rgb(248, 248, 248);background: linear-gradient(90.97deg, #FF6617 -5.37%, #FFB50B 103.01%);
                    ;font-size: 20px;text-shadow: 2px 2px 3px black;"  >AGREEMENTS
                      <svg class="icon">
                        <use href="#arrow-right"/>
                      </svg>
                    </a>
                  </div>
                </div>
            </div>
          </div>
          <!-- // Item -->
        </div>
    </div>
    <!-- Banner Ends Here -->

    
    

   
    
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  

    <!-- Additional Scripts -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
  
    <script src="{% static 'assets/js/slick.js' %}"></script>
  


  </body>
</html>