<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
  {% load static %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="keywords"
    content="Atelier Responsive web template, Bootstrap Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <title>Atelier Fashion Category Bootstrap Responsive Web Template | Home :: W3Layouts </title>
  <link href="//fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600;700&display=swap"
    rel="stylesheet">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'wildlife/css/style-starter.css' %}">
</head>

<body>
  <script src="{% static 'zheader/js/jquery-1.11.1.min.js' %}"></script>
  <script src="{% static 'zheader/js/jquery.vide.min.js' %}"></script>
  <!-- main-slider -->
  <section class="w3l-main-slider" id="home">
    <div class="companies20-content">
      <div class="owl-one owl-carousel owl-theme">
        <div class="item">
          <li>
            <div class="slider-info banner-view2 bg bg2" style="background-image:url({% static 'landcoalition/images/banner_1.png' %}) ;"  >
             
            </div>
          </li>
        </div>


        <div class="item">
          <li>
            <div class="slider-info banner-view bg bg2" style="background-image:url({% static 'landcoalition/images/b2.png' %}) ;"  >
              <div class="banner-info">
                <div class="container">
                  <div class="banner-info-bg" >
                    <h5 style="font-size: 60px;text-shadow: 2px 2px 3px black;font-family: Quicksand,sans-serif;" >The Mohanpura and Kundalia <br> Irrigation Projects</h5>
                    <h5 class="mt-md-4 mt-3" style="text-shadow: 2px 2px 3px black;font-family: Quicksand,sans-serif;font-size: 18px;" >India’s first and the largest SCADA-enabled Automated <br> Pressurized Irrigation Network (PIN)
                    </h5>
                    <br>
                    <a class="button button--cta" href="{% url 'project' %}" style="border-radius: 25px;border: 1px solid rgb(248, 248, 248);background: linear-gradient(90.97deg, #FF6617 -5.37%, #FFB50B 103.01%);
                    ;font-size: 20px;text-shadow: 1px 1px 1px black;"  >KNOW MORE
                      <svg class="icon">
                        <use href="#arrow-right"/>
                      </svg>
                    </a>
                   
                  </div>
                </div>
              </div>
            </div>
          </li>
        </div>
        <div class="item">
          <li>
            <div class="slider-info  banner-view banner-top1 bg bg2" style="background-image:url({% static 'landcoalition/images/b3.png' %}) ;width: 100%;" >
              <div class="banner-info">
                <div class="container">
                  <div class="banner-info-bg" >
                    <h5 style="font-size: 60px;text-shadow: 2px 2px 3px black;font-family: Quicksand,sans-serif;" >Our beginnings and <br> our impact</h5>
                    <h5 class="mt-md-4 mt-3" style="text-shadow: 2px 2px 3px black;font-family: Quicksand,sans-serif;font-size: 18px;" > <span class="fa fa-arrow-right"></span> Established in 2018 <br><span class="fa fa-arrow-right"></span> Implemented in district Rajgarh, Madhya Pradesh, India <br><span class="fa fa-arrow-right"></span> Covering 3.85 lakh hectares of agricultural land <br> <span class="fa fa-arrow-right"></span> Across 7 sub-projects <br> <span class="fa fa-arrow-right"></span> Impacting 7 lakh villagers in 1195 villages
                    </h5>
                    
                    <br>
                    <a class="button button--cta" href="{% url 'journey' %}" style="border-radius: 25px;border: 1px solid rgb(248, 248, 248);background: linear-gradient(90.97deg, #FF6617 -5.37%, #FFB50B 103.01%);
                    ;font-size: 20px;text-shadow: 1px 1px 1px black;"  >KNOW MORE
                      <svg class="icon">
                        <use href="#arrow-right"/>
                      </svg>
                    </a>
                   
                  </div>
                </div>
              </div>
            </div>
          </li>
        </div>
        <div class="item">
          <li>
            <div class="slider-info banner-view banner-top2 bg bg2" style="background-image:url({% static 'landcoalition/images/b4.png' %}) ;" >
              <div class="banner-info">
                <div class="container">
                  <div class="banner-info-bg" >
                    <h5 style="font-size: 60px;text-shadow: 2px 2px 3px black;font-family: Quicksand,sans-serif;" >Socio-cultural impact <br> of the project </h5>
                    <h5 class="mt-md-4 mt-3" style="text-shadow: 2px 2px 3px black;font-family: Quicksand,sans-serif;font-size: 20px;" >A quote from a farmer on reduce in migration among farmers due to the project.
                    </h5>
                    <h5 class="mt-md-4 mt-3" style="text-shadow: 2px 2px 3px black;font-family: Quicksand,sans-serif;font-size: 17px;" >“Why would we toil away in alien lands, when we have water for our fields? <br> We feel much joy in working on our lands  and producing our own grains!” 
                    </h5>
                    <h5 class="mt-md-4 mt-3" style="text-shadow: 2px 2px 3px black;font-family: Quicksand,sans-serif;font-size: 17px;text-align: center;color:#009688" > &nbsp  &nbsp  &nbsp  &nbsp  Dheeraj Sharma
                    </h5>
                    <br>
                    <a class="button button--cta" href="{% url 'impact' %}" style="border-radius: 25px;border: 1px solid rgb(248, 248, 248);background: linear-gradient(90.97deg, #FF6617 -5.37%, #FFB50B 103.01%);
                    ;font-size: 20px;text-shadow: 1px 1px 1px black;"  >KNOW MORE
                      <svg class="icon">
                        <use href="#arrow-right"/>
                      </svg>
                    </a>
                   
                  </div>
                </div>
              </div>
            </div>
          </li>
        </div>
        <div class="item">
          <li>
            <div class="slider-info banner-view banner-top3 bg bg2" style="background-image:url({% static 'landcoalition/images/b5.png' %}) ;"  >
              <div class="banner-info">
                <div class="container">
                  <div class="banner-info-bg" >
                    <h5 style="font-size: 60px;text-shadow: 2px 2px 3px black;font-family: Quicksand,sans-serif;" >Kundalia Dam, <br> 
                      Madhya Pradesh, India</h5>
                    <h5 class="mt-md-4 mt-3" style="text-shadow: 2px 2px 3px black;font-family: Quicksand,sans-serif;font-size: 21px;" > <span class="fa fa-arrow-right"></span> Gross storage in million cubic meters - 587.75 mcm<br><span class="fa fa-arrow-right"></span> Irrigation capacity - 139600 ha  <br><span class="fa fa-arrow-right"></span> Irrigated areas - 41000 ha (March 2022) <br> <span class="fa fa-arrow-right"></span> Villages benefited – 419 villages
                    </h5>
                    
                    <br>
                    <a class="button button--cta" href="{% url 'kundaliya' %}" style="border-radius: 25px;border: 1px solid rgb(248, 248, 248);background: linear-gradient(90.97deg, #FF6617 -5.37%, #FFB50B 103.01%);
                    ;font-size: 20px;text-shadow: 1px 1px 1px black;"  >KNOW MORE
                      <svg class="icon">
                        <use href="#arrow-right"/>
                      </svg>
                    </a>
                   
                  </div>
                </div>
              </div>
            </div>
          </li>
        </div>
        <div class="item">
          <li>
               	<!-- //video header start -->   
	<div data-vide-bg="{% static 'zheader/video/cook' %}">

    <div class="banner-header">
     <div class="container" style="height:700px">

              <div class="banner-info">
                <div class="container">
                  <div class="banner-info-bg" >
                    <h5 style="font-size: 60px;text-shadow: 2px 2px 3px black;font-family: Quicksand,sans-serif;" >Mohanpura Dam,Newaj River, <br> Madhya Pradesh, India</h5>
                    <h5 class="mt-md-4 mt-3" style="text-shadow: 2px 2px 3px black;font-family: Quicksand,sans-serif;font-size: 20px;" > <span class="fa fa-arrow-right"></span> Gross storage in million cubic meters - 616mcm<br><span class="fa fa-arrow-right"></span> Irrigation capacity - 145500 ha  <br><span class="fa fa-arrow-right"></span> Irrigated areas - 61000 ha (March 2022) <br> <span class="fa fa-arrow-right"></span> Villages benefited - 776 villages
                    </h5>
                    
                    <br>
                    <a class="button button--cta" href="{% url 'mohanpura' %}" style="border-radius: 25px;border: 1px solid rgb(248, 248, 248);background: linear-gradient(90.97deg, #FF6617 -5.37%, #FFB50B 103.01%);
                    ;font-size: 20px;text-shadow: 1px 1px 1px black;"  >KNOW MORE
                      <svg class="icon">
                        <use href="#arrow-right"/>
                      </svg>
                    </a>
                   
                  </div>
                </div>
              </div>
            </div>
            
     </div>
    </div>
 
  </div>
 <!-- //video header end --> 
          </li>
        </div>
        
      </div>
    </div>
  </section>
  <!-- /main-slider -->

   <!-- home page block grids -->
   <section class="w3l-text-11 py-5" id="blogs">
    <div class="container py-lg-5 py-md-4 py-2">
      <div class="text-center">
        <br>
        <span class="title-subhny text-center mb-2">Our</span>
        <h3 class="title-w3l text-center mb-5">Impact</h3>
        <div>
          <div class="row text11-content">
            
            <div class="block block--largest power_squares_block" style="
     
            justify-content: center;" >
      
      <div class="power_square" style="width: 420px;" >
          <a href=""  >
              <div class="power-square__image" >
                  
                      <img  src="{% static 'landcoalition/images/village.png' %}" style="border-radius: 15px 15px 0px 0px ;width:390px;height: 390px;" >
                  
                  <h2 style="font-size:25px;font-weight: 600;" >  Villagers <br><br><br> </h2>
                  <h2 style="font-size: 40px;font-weight: 400px;text-transform: capitalize;" >3.50+ Lac.</h2>
              </div>
          </a>
      
          <div class="power-square__content" style="border-radius: 0px 0px 15px 15px  ;box-shadow: -2px 0px 15px 0px rgb(24 24 24 / 20%);" >
              <p class="subtitle" style="text-align: left;" >64 percent of the overall population formerly made their living in neighboring states.</p>
      
              <br>
              
              <a href="{% url 'village' %}" class="button button--secondary button--slim" style="background: linear-gradient(90.97deg, #FF6617 -5.37%, #FFB50B 103.01%);;border: 1px solid rgb(248, 248, 248);font-size: 17px;color:#fff;width:170px;height:44px;border-radius: 25px;padding-left: 22px;" >
                Read More
                  <svg class="icon icon--small" style="color: #fff;" >
                      <use href="#arrow-right"/>
                  </svg>
              </a>
                  <br><br>
              
          </div>
      </div>
      
      
      
      <div class="power_square" style="width: 420px;" >
          <a href="">
            <div class="power-square__image" >
                  
              <img alt="Michael Benanav_ILC-6-1.jpg" height="400" src="{% static 'landcoalition/images/pipline.png' %}" style="border-radius: 15px 15px 0px 0px ;width:390px;height: 390px;" >
          
          <h2 style="font-size:25px;" >  Pipeline <br><br><br> </h2>
          <h2 style="font-size: 40px;text-transform: capitalize;" >8000+ Ha.</h2>
        
              <div  class="tooltip">
                  <div class="tooltip-toggle"  >
                      
                      <svg class="icon close-icon">
                          <use href="#close"/>
                      </svg>
                  </div>
                  <div class="tooltip_text"><p>ILC is who are members are, bringing together diverse organisations -  from intergovernmental and non-governmental. </p>
                  </div>
              </div>
          
      </div>
          </a>
      
          <div class="power-square__content" style="border-radius: 0px 0px 15px 15px  ;box-shadow: -2px 0px 15px 0px rgb(24 24 24 / 20%);" >
            <p class="subtitle" style="text-align: left;" >Since the irrigation project's start, 75,219 households in the Kalipeeth area have benefited directly.</p>
      
            
            
            <a href="" class="button button--secondary button--slim" style="background: linear-gradient(90.97deg, #FF6617 -5.37%, #FFB50B 103.01%);;border: 1px solid rgb(248, 248, 248);font-size: 17px;color:#fff;width:170px;height:44px;border-radius: 25px;padding-left: 22px;" >
              Read More
                <svg class="icon icon--small" style="color: #fff;" >
                    <use href="#arrow-right"/>
                </svg>
            </a>
                <br><br>
            
        </div>
      </div>
      
      
      
      <div class="power_square" style="width: 420px;" >
          <a href="">
            <div class="power-square__image" >
                  
              <img alt="Michael Benanav_ILC-6-1.jpg" height="400" src="{% static 'landcoalition/images/storage.png' %}" style="border-radius: 15px 15px 0px 0px ;width:390px;height: 390px;" >
          
          <h2 style="font-size:25px;" > Storage <br><br><br> </h2>
          <h2 style="font-size: 40px;text-transform: capitalize;" >1203+ Ltr. </h2>
        
              <div  class="tooltip">
                  <div class="tooltip-toggle"  >
                      
                      <svg class="icon close-icon">
                          <use href="#close"/>
                      </svg>
                  </div>
                  <div class="tooltip_text"><p>ILC is who are members are, bringing together diverse organisations -  from intergovernmental and non-governmental organisations, research centres and academic institutions, constituency-based organisations and social movements.</p><p>ILC’s Members appreciate and capitalise upon ILC’s diversity of and work together as a coalition of equals.</p>
                  </div>
              </div>
          
      </div>
          </a>
      
          <div class="power-square__content" style="border-radius: 0px 0px 15px 15px  ;box-shadow: -2px 0px 15px 0px rgb(24 24 24 / 20%);" >
            <p class="subtitle" style="text-align: left;" > The overall production of the Mohanpura-Kundalia Irrigation Project In 2021, reached 3.90 lakh metric tonnes.</p>
      
            
            
            <a href="" class="button button--secondary button--slim" style="background: linear-gradient(90.97deg, #FF6617 -5.37%, #FFB50B 103.01%);;border: 1px solid rgb(248, 248, 248);font-size: 17px;color:#fff;width:170px;height:44px;border-radius: 25px;padding-left: 22px;" >
              Read More
                <svg class="icon icon--small" style="color: #fff;" >
                    <use href="#arrow-right"/>
                </svg>
            </a>
                <br><br>
            
        </div>
      </div>
      
      </div>
      
           
          </div>
        </div>
  </section>
  <!-- //home page block grids -->

   <!-- home page block grids -->
   <section class="w3l-text-11 py-5" id="blogs">
    <div class="container py-lg-5 py-md-4 py-2">
      <div class="text-center">
        <br>
        <span class="title-subhny text-center mb-2">About</span>
        <h3 class="title-w3l text-center mb-5">the project</h3>
        <div>
          <div class="row text11-content">
            
            <main style="background-color: transparent;margin-left: 40px;margin-right: 40px;
    ;box-shadow: -2px 0px 15px 0px rgb(24 24 24 / 20%);border-radius: 15px;" >
        <br><br>
          
  
    <div style="margin-right: 40px;margin-left: 40px;text-align: center;" >
      <p>The Mohanpura and Kundalia Irrigation Projects are the first and biggest SCADA-enabled Automated Pressurized Irrigation Network (PIN) projects in India that supply water to agricultural fields. They now encompass 96,000 hectares over seven sub-project regions. We are located in the Indian state of Madhya Pradesh's Rajgarh District and started in 2018. Out of the 14.50 lakh residents of Mohanpura and Kundalia, 3.50 lakh are farmers who benefit from the irrigation project. <br>

        This project would provide irrigation water for agriculture on 58,000 hectares of land in Mohanpura and 20,000 hectares of land in Kundalia. Mohanpura's total number of benefitted villages is 776, whereas Kundalia's total number of helped villages is 419. <br>
        
       
        </p>
    </div>
     
      <!-- home page block1 -->
   <section id="about" class="home-services py-lg-5" style="background-color:#fff;padding-left: 80px;padding-right: 50px;"  >
    <div class="container py-lg-2 py-md-3"  >
      <div class="row"  >
        <div class="col-lg-3 col-md-6 col-sm-12">
          
          <div class="box-wrap" style="border-radius: 25px;width: 220px;height:220px;background-image:linear-gradient(to bottom, rgba(87, 84, 84, 0) 0%,rgba(33, 32, 32, 0.95) 100%), url({% static 'landcoalition/images/a1.png' %})" >
            
            <div >
             
              <div >
                
                <h4 style="text-align:center;margin-top:130px;" ><a style="color:#fff;font-size: 19px;" href="{% url 'about_team' %}">OUR TEAM</a></h4>
              </div>
            </div>
           
          </div>
        </div>
        <br>
        <div class="col-lg-3 col-md-6 col-sm-12">
          
          <div class="box-wrap" style="border-radius: 25px;width: 220px;height:220px;background-image:linear-gradient(to bottom, rgba(87, 84, 84, 0) 0%,rgba(33, 32, 32, 0.95) 100%), url({% static 'landcoalition/images/a2.png' %})" >
           
            <div >
             
              <div >
                
                <h4 style="text-align:center;margin-top:130px;" ><a style="color:#fff;font-size: 19px;"  href="{% url 'project' %}">PROJECT DETAIL</a></h4>
              </div>
            </div>
           
          </div>
        </div>
        <br>
        <div class="col-lg-3 col-md-6 col-sm-12">
          
          <div class="box-wrap" style="border-radius: 25px;width: 220px;height:220px;background-image:linear-gradient(to bottom, rgba(87, 84, 84, 0) 0%,rgba(33, 32, 32, 0.95) 100%), url({% static 'landcoalition/images/a3.png' %})" >
           
            <div >
             
              <div >
                
                <h4 style="text-align:center;margin-top:130px;" ><a style="color:#fff;font-size: 19px;"  href="{% url 'firststep' %}">HISTORY</a></h4>
              </div>
            </div>
           
          </div>
        </div>
        <br>
        <div class="col-lg-3 col-md-6 col-sm-12">
          
          <div class="box-wrap" style="border-radius: 25px;width: 220px;height:220px;background-image:linear-gradient(to bottom, rgba(87, 84, 84, 0) 0%,rgba(33, 32, 32, 0.95) 100%), url({% static 'landcoalition/images/a4.png' %})" >
            
            <div >
             
              <div >
                
                <h4 style="text-align:center;margin-top:130px;" ><a style="color:#fff;font-size: 19px;"  href="{% url 'location' %}">LOCATIONS</a></h4>
              </div>
            </div>
           
          </div>
        </div>
        <br>
      </div>
    </div>
  </section>
  <!-- //home page block1 -->
    
 
    
    <div class="block button-block" style="text-align: center;" >
      <a href="{% url 'journey' %}" class="button button--secondary button--slim" style="background: linear-gradient(90.97deg, #FF6617 -5.37%, #FFB50B 103.01%);;border: 1px solid rgb(248, 248, 248);font-size: 17px;color:#fff;width:170px;height:44px;border-radius: 25px;padding-left: 22px;" >
        Read More
          <svg class="icon icon--small" style="color: #fff;" >
              <use href="#arrow-right"/>
          </svg>
      </a>
    </div>
 
  <br> 
      </div>
    
        </main>
           
          </div>
        </div>
  </section>
  <!-- //home page block grids -->

   <!-- home page block grids -->
   <section class="w3l-text-11 py-5" id="blogs">
    <div class="container py-lg-5 py-md-4 py-2">
      <div class="text-center">
        <br>
        <span class="title-subhny text-center mb-2">Network map</span>
        <h3 class="title-w3l text-center mb-5">the power of our network</h3>
        
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1z_pWhLJGsYt2hSD_S43W77e_eVSHQ4M&ehbc=2E312F" width="1400" height="700"></iframe>
        
  </section>
  <!-- //home page block grids -->



  <!-- home page block grids -->
  <section class="w3l-text-11 py-5" id="blogs">
    <div class="container py-lg-5 py-md-4 py-2">
      <div class="text-center">
        <br>
        <span class="title-subhny text-center mb-2">Stories</span>
        <h3 class="title-w3l text-center mb-5">From Our Network</h3>
        <div>
          <div class="row text11-content">
           
  <section class="section service-2">
    <div class="container">
      <div class="row">
        
      {% for i in sto %}
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="service-block mb-5 mb-lg-0" style="border-radius: 15px;background-image:url({% static 'assets/images/cccc.png' %}) ;margin-left: 10px;margin-right: 10px;
        ;box-shadow: -2px 0px 15px 0px rgb(24 24 24 / 20%);border-radius: 15px;"  >
          
          <img src="{{ i.image.url }}" style="border-radius: 15px;height: 242px;" alt="" class="img-fluid">
          <div class="content">
            <h4 class="mt-4 mb-2 title-color">{{ i.name }}</h4>
            <p class="mb-4" style="color: black;" >{{ i.para }}</p>
          </div>
          
            <a href="{% url 'story' i.id %}" class="button button--secondary button--slim" style="background: linear-gradient(90.97deg, #FF6617 -5.37%, #FFB50B 103.01%);;border: 1px solid rgb(248, 248, 248);font-size: 17px;color:#fff;width:185px;height:40px;border-radius: 25px;padding-left: 22px;" >
              know more
                <svg class="icon icon--small" style="color: #fff;" >
                    <use href="#arrow-right"/>
                </svg>
            </a>
        </div>



        <br> <br>
          
        </div>


  
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
          </div>
        </div>
  </section>
  <!-- //home page block grids -->



   <!-- home page block1 -->
   <section id="about" class="home-services py-lg-5" style="background-color:#fff;"  >
    <div class="container py-lg-5 py-md-3" >
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          
          <div class="box-wrap" style="box-shadow: -2px 0px 15px 0px rgb(24 24 24 / 20%);background-image:url({% static 'assets/images/f1.jpg' %});" >
            <span style="font-size:130px;display: flex;
            flex-direction: row;
            justify-content: center;color:#009688;" class="fa fa-video"></span>
            <div >
             
              <div >
                
                <h4 style="text-align:center" ><a href="{% url 'videos' %}">VIDEO</a></h4>
              </div>
            </div>
           
          </div>
        </div>
        <br>
        <div class="col-lg-3 col-md-6 col-sm-12">
          
          <div class="box-wrap" style="box-shadow: -2px 0px 15px 0px rgb(24 24 24 / 20%);background-image:url({% static 'assets/images/f2.jpg' %});" >
            <span style="font-size:130px;display: flex;
            flex-direction: row;
            justify-content: center;color: #009688;" class="fa fa-photo"></span>
            <div >
             
              <div >
                
                <h4 style="text-align:center" ><a href="{% url 'videos' %}">PHOTO</a></h4>
              </div>
            </div>
           
          </div>
        </div>
        <br>
        <div class="col-lg-3 col-md-6 col-sm-12">
          
          <div class="box-wrap" style="box-shadow: -2px 0px 15px 0px rgb(24 24 24 / 20%);background-image:url({% static 'assets/images/f3.jpg' %});" >
            <span style="font-size:130px;display: flex;
            flex-direction: row;
            justify-content: center;color: #009688;" class="fa fa-blog"></span>
            <div >
             
              <div >
                
                <h4 style="text-align:center" ><a href="{% url 'blogs' %}">BLOGS</a></h4>
              </div>
            </div>
           
          </div>
        </div><br>

        <div class="col-lg-3 col-md-6 col-sm-12">
          
          <div class="box-wrap" style="box-shadow: -2px 0px 15px 0px rgb(24 24 24 / 20%);background-image:url({% static 'assets/images/f4.jpg' %});" >
            <span style="font-size:130px;display: flex;
            flex-direction: row;
            justify-content: center;color:#009688;" class="fa fa-microphone"></span>
            <div >
             
              <div >
                
                <h4 style="text-align:center" ><a href="{% url 'audios' %}">AUDIO</a></h4>
              </div>
            </div>
           
          </div>
        </div>
        <br>
      </div>
    </div>
  </section>
  <!-- //home page block1 -->

  <!-- testimonials section -->
  <section class="w3l-clients w3l-test pb-5" id="testimonials">
    <div class="midd-w3 py-5">
      <div class="container py-lg-5 py-md-4 pt-2 pb-5">
        <div class="w3l-header-sec text-center mb-md-5 mb-4">
          <br>
          <h6 class="title-subhny mx-0 text-center">PEOPLE'S</h6>
          <h3 class="title-w3l mx-0 text-center">VOICE</h3>
        </div>
      
        {% include 'contact.html' %}
        </div>
      </div>
    </div>
  </section>
  <!-- //testimonials section -->
 

  <!-- //copyright -->
  <!-- Template JavaScript -->
  <script src="{% static 'wildlife/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'wildlife/js/theme-change.js' %}"></script>
  <!--search-bar-->
  <script src="{% static 'wildlife/js/search.js' %}"></script>
  <!--//search-bar-->
  <!-- owl carousel -->
  <script src="{% static 'wildlife/js/owl.carousel.js' %}"></script>
  
  <script>
    $(document).ready(function () {
      $("#owl-demo2").owlCarousel({
        loop: true,
        nav: false,
        margin: 50,
        responsiveClass: true,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          736: {
            items: 1,
            nav: false
          },
          991: {
            items: 2,
            margin: 30,
            nav: false
          },
          1080: {
            items: 2,
            nav: false
          }
        }
      })
    })
  </script>
  <!-- //script for tesimonials carousel slider -->
  <!-- owl carousel -->

  <!-- script for tesimonials carousel slider -->
  <script>
    $(document).ready(function () {
      $("#owl-demo2").owlCarousel({
        loop: true,
        margin: 20,
        nav: false,
        responsiveClass: true,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          1000: {
            items: 1,
            nav: false,
            loop: false
          }
        }
      })
    })
  </script>
  <!-- //script for tesimonials carousel slider -->
  <!-- stats number counter-->
  <script src="{% static 'wildlife/js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'wildlife/js/jquery.countup.js' %}"></script>
  <script>
    $('.counter').countUp();
  </script>
  <!-- //stats number counter -->
  <!--/MENU-JS-->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!--//MENU-JS-->

  <script src="{% static 'wildlife/js/bootstrap.min.js' %}"></script>

</body>


</html>


{% include 'footer.html' %}