<!DOCTYPE html>
<html lang="zxx">
<head>
  
    {% load static %}

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="{% static 'doctor/plugins/bootstrap/css/bootstrap.min.css' %}">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="{% static 'doctor/plugins/icofont/icofont.min.css' %}">
  <!-- Slick Slider  CSS -->
  <link rel="stylesheet" href="{% static 'doctor/plugins/slick-carousel/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static 'doctor/plugins/slick-carousel/slick/slick-theme.css' %}">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{% static 'doctor/css/style.css' %}">

</head>

<body id="top">

{% include 'header.html' %}

<div class="background-text bg_light" >
        
    <div class="background-text__content"  >
      
        
    <h1 class="block block--large highlight-header" style="padding-left: 25%;font-size: 60px;margin-top: -70px;" ><span class="highlight-header" style="color: #252B3A;" >{{ cat.name }}</span></h1>
  



    <section class="section blog-wrap" style="padding-left: 50px;padding-right: 50px;margin-top: -180px;" >
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">

                        <section class="section service-2">
                            <div class="container">
                                <div class="row">
                                    
                                    {% for i in subdata %}
                                    <div class="col-lg-6 col-md-6 col-sm-6"  >
                                        <div class="service-block mb-5" style="border-radius: 15px;" >
                                            
                                            <img src="{{ i.image.url }}" style="border-radius: 15px;" alt="" class="img-fluid">
                                            <div class="blog-item-meta mb-3">
                                                <span class="text-muted text-capitalize mr-3"><i class="icofont-user-alt-7 mr-2"></i>admin</span>
                                                <span class="text-black text-capitalize mr-3"><i class="icofont-calendar mr-2"></i> {{ i.date }}</span>
                                            </div> 
                                            <div class="content">
                                                
                                                <p class="mb-4">{{ i.detail }}</p>
                                                <h4 class="mt-4 mb-2 title-color">{{ i.date }}</h4>
                                            </div>
                                            
                                            <div class="page-card__details" style="background-color:#fff;border-radius:0px 0px 15px 15px" >
                                                <a href="{% url 'storydetaildetail' i.id %}" class="button button--secondary button--slim" style="background-color: #5B6D92;color:#fff;width:180px;height:40px;border-radius: 25px;padding-left: 22px;" >
                                                  Read More
                                                    <svg class="icon icon--small" style="color: #fff;" >
                                                        <use href="#arrow-right"/>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                       
                                    </div>
                                    {% endfor %}
                                   
                                    
                        
                                </div>
                            </div>
                        </section>
        
    
            
        
    
    
       
    </div>
                </div>


                <div class="col-lg-4"  >
                    <div class="sidebar-wrap pl-lg-4 mt-5 mt-lg-0" >
        <div class="sidebar-widget search  mb-3 ">
            <h5>Search Here</h5>
            <form action="#" class="search-form">
                <input type="text" class="form-control" placeholder="search">
                <i class="ti-search"></i>
            </form>
        </div>
    
    
        <div class="sidebar-widget latest-post mb-3">
            <h5>Popular Posts</h5>
    
            <div class="py-2">
                <span class="text-sm text-muted">03 Mar 2018</span>
                <h6 class="my-2"><a href="#">Thoughtful living in los Angeles</a></h6>
            </div>
    
            <div class="py-2">
                   <span class="text-sm text-muted">03 Mar 2018</span>
                <h6 class="my-2"><a href="#">Vivamus molestie gravida turpis.</a></h6>
            </div>
    
            <div class="py-2">
                <span class="text-sm text-muted">03 Mar 2018</span>
                <h6 class="my-2"><a href="#">Fusce lobortis lorem at ipsum semper sagittis</a></h6>
            </div>
        </div>
    
        <div class="sidebar-widget category mb-3">
            <h5 class="mb-4">Categories</h5>
    
            <ul class="list-unstyled">
              <li class="align-items-center">
                <a href="#">Medicine</a>
                
              </li>
              <li class="align-items-center">
                <a href="#">Equipments</a>
                
              </li>
              <li class="align-items-center">
                <a href="#">Heart</a>
                
              </li>
              <li class="align-items-center">
                <a href="#">Free counselling</a>
                
              </li>
              <li class="align-items-center">
                <a href="#">Lab test</a>
                
              </li>
            </ul>
        </div>
    
    
    
    
        
    
    </div>
                </div>   
            </div>
    
           
        </div>
    </section>



   
{% include 'footer.html' %}
    <!-- 
    Essential Scripts
    =====================================-->

    
    <!-- Main jQuery -->
    <script src="{% static 'doctor/plugins/jquery/jquery.js' %}"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="{% static 'doctor/plugins/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'doctor/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'doctor/plugins/counterup/jquery.easing.js' %}"></script>
    <!-- Slick Slider -->
    <script src="{% static 'doctor/plugins/slick-carousel/slick/slick.min.js' %}"></script>
    <!-- Counterup -->
    <script src="{% static 'doctor/plugins/counterup/jquery.waypoints.min.js' %}"></script>
    
    <script src="{% static 'doctor/plugins/shuffle/shuffle.min.js' %}"></script>
    <script src="{% static 'doctor/plugins/counterup/jquery.counterup.min.js' %}"></script>
    <!-- Google Map -->
    <script src="{% static 'doctor/plugins/google-map/map.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>    
    
    <script src="{% static 'doctor/js/script.js' %}"></script>
    <script src="{% static 'doctor/js/contact.js' %}"></script>

  </body>
  </html>
   