<!DOCTYPE html>
<html lang="zxx">
<head>
  
    {% load static %}

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="{% static 'doctor/plugins/bootstrap/css/bootstrap.min.css' %}">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="{% static 'doctor/plugins/icofont/icofont.min.css' %}">
  <!-- Slick Slider  CSS -->
  <link rel="stylesheet" href="{% static 'doctor/plugins/slick-carousel/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static 'doctor/plugins/slick-carousel/slick/slick-theme.css' %}">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{% static 'doctor/css/style.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap" rel="stylesheet">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
    </style>

</head>

<body id="top">

{% include 'header.html' %}



<br>
<main style="background-image:url({% static 'assets/images/fig.jpg' %}) ;margin-left: 30px;margin-right: 30px;
;box-shadow: -2px 0px 15px 0px rgb(24 24 24 / 20%);border-radius: 15px;" >
   
<div style="margin-right: 40px;margin-left: 40px;text-align: center;" >


  <section class="section doctor-single" >
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="doctor-img-block">
            <img src="{{ cat.image.url }}" style="width: 214;height: 262;border-radius: 15px;"  class="img-fluid w-100">
  
            
          </div>
        </div>
  
        <div class="col-lg-8 col-md-6">
          <div class="doctor-details mt-4 mt-lg-0">
            
            <h4 class="mb-0" style="text-align:left" > {{ cat.name }}</h4>
            <p style="color: black;text-align:left" >  {{ cat.Designation }}</p>
            <br><br>
            <p style="text-align: justify;margin-top: -50px;color: black;">{{ cat.detail| safe }}</p>
  
  
  
          </div>
        </div>
      </div>
    </div>
  </section>


    
 
    <br><br>
</div>
    
      

   
    
  
</div>




  </div>

    </main>
<br>


    

   
{% include 'footer.html' %}
    <!-- 
    Essential Scripts
    =====================================-->

    
    <!-- Main jQuery -->
    <script src="{% static 'doctor/plugins/jquery/jquery.js' %}"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="{% static 'doctor/plugins/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'doctor/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'doctor/plugins/counterup/jquery.easing.js' %}"></script>
    <!-- Slick Slider -->
    <script src="{% static 'doctor/plugins/slick-carousel/slick/slick.min.js' %}"></script>
    <!-- Counterup -->
    <script src="{% static 'doctor/plugins/counterup/jquery.waypoints.min.js' %}"></script>
    
    <script src="{% static 'doctor/plugins/shuffle/shuffle.min.js' %}"></script>
    <script src="{% static 'doctor/plugins/counterup/jquery.counterup.min.js' %}"></script>
    <!-- Google Map -->
    <script src="{% static 'doctor/plugins/google-map/map.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>    
    
    <script src="{% static 'doctor/js/script.js' %}"></script>
    <script src="{% static 'doctor/js/contact.js' %}"></script>

  </body>
  </html>
   