<!DOCTYPE html>
<html lang="zxx">
<head>
  
    {% load static %}

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="{% static 'doctor/plugins/bootstrap/css/bootstrap.min.css' %}">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="{% static 'doctor/plugins/icofont/icofont.min.css' %}">
  <!-- Slick Slider  CSS -->
  <link rel="stylesheet" href="{% static 'doctor/plugins/slick-carousel/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static 'doctor/plugins/slick-carousel/slick/slick-theme.css' %}">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{% static 'doctor/css/style.css' %}">

</head>

<body id="top">

{% include 'header.html' %}



  <br><br>
  <main style="background-image:url({% static 'assets/images/bcc.png' %}) ;margin-left: 50px;margin-right: 50px;
  ;box-shadow: -2px 0px 15px 0px rgb(24 24 24 / 20%);border-radius: 15px;" >
      <br><br><br>
      <img src="{% static 'assets/images/bggg.jpg' %}" 
      style="height:auto;
      border-radius: 15px;
      display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
      " alt="">
      <br><br><br><br>
  <div style="margin-right: 40px;margin-left: 40px;text-align: center;" >
      
    <p style="text-align:justify;display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;color: #000;" >The Mohanpura and Kundalia Irrigation Projects are the first and biggest SCADA-enabled Automated Pressurized Irrigation Network (PIN) projects in India that supply water to agricultural fields. They now encompass 96,000 hectares over seven sub-project regions. We are located in the Indian state of Madhya Pradesh's Rajgarh District and started in 2018. Out of the 14.50 lakh residents of Mohanpura and Kundalia, 3.50 lakh are farmers who benefit from the irrigation project. <br>

      This project would provide irrigation water for agriculture on 58,000 hectares of land in Mohanpura and 20,000 hectares of land in Kundalia. Mohanpura's total number of benefitted villages is 776, whereas Kundalia's total number of helped villages is 419. <br>
      
     
      </p>
      <p style="text-align:justify;display: block;
      margin-left: auto;
      margin-right: auto;
      width: 95%;color: #000;" >The Mohanpura and Kundalia Irrigation Projects are the first and biggest SCADA-enabled Automated Pressurized Irrigation Network (PIN) projects in India that supply water to agricultural fields. They now encompass 96,000 hectares over seven sub-project regions. We are located in the Indian state of Madhya Pradesh's Rajgarh District and started in 2018. Out of the 14.50 lakh residents of Mohanpura and Kundalia, 3.50 lakh are farmers who benefit from the irrigation project. <br>

        This project would provide irrigation water for agriculture on 58,000 hectares of land in Mohanpura and 20,000 hectares of land in Kundalia. Mohanpura's total number of benefitted villages is 776, whereas Kundalia's total number of helped villages is 419. <br>
        
       
        </p>
        <p style="text-align:justify;display: block;
        margin-left: auto;
        margin-right: auto;
        width: 95%;color: #000;" >The Mohanpura and Kundalia Irrigation Projects are the first and biggest SCADA-enabled Automated Pressurized Irrigation Network (PIN) projects in India that supply water to agricultural fields. They now encompass 96,000 hectares over seven sub-project regions. We are located in the Indian state of Madhya Pradesh's Rajgarh District and started in 2018. Out of the 14.50 lakh residents of Mohanpura and Kundalia, 3.50 lakh are farmers who benefit from the irrigation project. <br>

            This project would provide irrigation water for agriculture on 58,000 hectares of land in Mohanpura and 20,000 hectares of land in Kundalia. Mohanpura's total number of benefitted villages is 776, whereas Kundalia's total number of helped villages is 419. <br>
            
           
            </p>
            <p style="text-align:justify;display: block;
            margin-left: auto;
            margin-right: auto;
            width: 95%;color: #000;"  >The Mohanpura and Kundalia Irrigation Projects are the first and biggest SCADA-enabled Automated Pressurized Irrigation Network (PIN) projects in India that supply water to agricultural fields. They now encompass 96,000 hectares over seven sub-project regions. We are located in the Indian state of Madhya Pradesh's Rajgarh District and started in 2018. Out of the 14.50 lakh residents of Mohanpura and Kundalia, 3.50 lakh are farmers who benefit from the irrigation project. <br>

                This project would provide irrigation water for agriculture on 58,000 hectares of land in Mohanpura and 20,000 hectares of land in Kundalia. Mohanpura's total number of benefitted villages is 776, whereas Kundalia's total number of helped villages is 419. <br>
                
               
                </p>
      <br><br>
  </div>
      
        

     
      
    
  </div>
  

  

    </div>
  
      </main>
      <br><br>




   
{% include 'footer.html' %}
    <!-- 
    Essential Scripts
    =====================================-->

    
    <!-- Main jQuery -->
    <script src="{% static 'doctor/plugins/jquery/jquery.js' %}"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="{% static 'doctor/plugins/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'doctor/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'doctor/plugins/counterup/jquery.easing.js' %}"></script>
    <!-- Slick Slider -->
    <script src="{% static 'doctor/plugins/slick-carousel/slick/slick.min.js' %}"></script>
    <!-- Counterup -->
    <script src="{% static 'doctor/plugins/counterup/jquery.waypoints.min.js' %}"></script>
    
    <script src="{% static 'doctor/plugins/shuffle/shuffle.min.js' %}"></script>
    <script src="{% static 'doctor/plugins/counterup/jquery.counterup.min.js' %}"></script>
    <!-- Google Map -->
    <script src="{% static 'doctor/plugins/google-map/map.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>    
    
    <script src="{% static 'doctor/js/script.js' %}"></script>
    <script src="{% static 'doctor/js/contact.js' %}"></script>

  </body>
  </html>
   